/*
 * The Plaid API
 *
 * The Plaid REST API. Please see https://plaid.com/docs/api for more details.
 *
 * The version of the OpenAPI document: 2020-09-14_1.688.6
 * 
 * Generated by: https://openapi-generator.tech
 */


use async_trait::async_trait;
use reqwest;
use std::sync::Arc;
use serde::{Deserialize, Serialize, de::Error as _};
use crate::{apis::ResponseContent, models};
use super::{Error, configuration};
use crate::apis::ContentType;

#[async_trait]
pub trait PlaidApi: Send + Sync {

    /// POST /accounts/balance/get
    ///
    /// The `/accounts/balance/get` endpoint returns the real-time balance for each of an Item's accounts. While other endpoints, such as `/accounts/get`, return a balance object,  `/accounts/balance/get` forces the available and current balance fields to be refreshed rather than cached. This endpoint can be used for existing Items that were added via any of Plaid’s other products. This endpoint can be used as long as Link has been initialized with any other product, `balance` itself is not a product that can be used to initialize Link. As this endpoint triggers a synchronous request for fresh data, latency may be higher than for other Plaid endpoints (typically less than 10 seconds, but occasionally up to 30 seconds or more); if you encounter errors, you may find it necessary to adjust your timeout period when making requests.  Note: If you are getting real-time balance for the purpose of assessing the return risk of a proposed ACH transaction, it is recommended to use `/signal/evaluate` instead of `/accounts/balance/get`. `/signal/evaluate` returns the same real-time balance information and also provides access to Signal Rules, which provides no-code transaction business logic configuration, backtesting and recommendations for tuning your transaction acceptance logic, and the ability to easily switch between Balance and Signal Transaction Scores as needed for ultra-low-latency, ML-powered risk assessments. For more details, see the [Balance documentation](/docs/balance/#balance-integration-options).
    async fn accounts_balance_get<'accounts_balance_get_request>(&self, accounts_balance_get_request: models::AccountsBalanceGetRequest) -> Result<models::AccountsGetResponse, Error<AccountsBalanceGetError>>;

    /// POST /accounts/get
    ///
    /// The `/accounts/get` endpoint can be used to retrieve a list of accounts associated with any linked Item. Plaid will only return active bank accounts — that is, accounts that are not closed and are capable of carrying a balance. To return new accounts that were created after the user linked their Item, you can listen for the [`NEW_ACCOUNTS_AVAILABLE`](https://plaid.com/docs/api/items/#new_accounts_available) webhook and then use Link's [update mode](https://plaid.com/docs/link/update-mode/) to request that the user share this new account with you.  `/accounts/get` is free to use and retrieves cached information, rather than extracting fresh information from the institution. The balance returned will reflect the balance at the time of the last successful Item update. If the Item is enabled for a regularly updating product, such as Transactions, Investments, or Liabilities, the balance will typically update about once a day, as long as the Item is healthy. If the Item is enabled only for products that do not frequently update, such as Auth or Identity, balance data may be much older.  For realtime balance information, use the paid endpoints `/accounts/balance/get` or `/signal/evaluate` instead.
    async fn accounts_get<'accounts_get_request>(&self, accounts_get_request: models::AccountsGetRequest) -> Result<models::AccountsGetResponse, Error<AccountsGetError>>;

    /// POST /categories/get
    ///
    /// Send a request to the `/categories/get` endpoint to get detailed information on legacy categories returned by Plaid. This endpoint does not require authentication.  All implementations are recommended to [use the newer `personal_finance_category` taxonomy](https://plaid.com/docs/transactions/pfc-migration/) instead of the legacy `category` taxonomy supported by this endpoint.
    async fn categories_get<'body>(&self, body: serde_json::Value) -> Result<models::CategoriesGetResponse, Error<CategoriesGetError>>;

    /// POST /dashboard_user/get
    ///
    /// The `/dashboard_user/get` endpoint provides details (such as email address) about a specific Dashboard user based on the `dashboard_user_id` field, which is returned in the `audit_trail` object of certain Monitor and Beacon endpoints. This can be used to identify the specific reviewer who performed a Dashboard action.
    async fn dashboard_user_get<'dashboard_user_get_request>(&self, dashboard_user_get_request: models::DashboardUserGetRequest) -> Result<models::DashboardUserGetResponse, Error<DashboardUserGetError>>;

    /// POST /dashboard_user/list
    ///
    /// The `/dashboard_user/list` endpoint provides details (such as email address) all Dashboard users associated with your account. This can use used to audit or track the list of reviewers for Monitor, Beacon, and Identity Verification products.
    async fn dashboard_user_list<'dashboard_user_list_request>(&self, dashboard_user_list_request: models::DashboardUserListRequest) -> Result<models::DashboardUserListResponse, Error<DashboardUserListError>>;

    /// POST /employers/search
    ///
    /// `/employers/search` allows you the ability to search Plaid’s database of known employers, for use with Deposit Switch. You can use this endpoint to look up a user's employer in order to confirm that they are supported. Users with non-supported employers can then be routed out of the Deposit Switch flow.  The data in the employer database is currently limited. As the Deposit Switch and Income products progress through their respective beta periods, more employers are being regularly added. Because the employer database is frequently updated, we recommend that you do not cache or store data from this endpoint for more than a day.
    async fn employers_search<'employers_search_request>(&self, employers_search_request: models::EmployersSearchRequest) -> Result<models::EmployersSearchResponse, Error<EmployersSearchError>>;

    /// POST /institutions/get
    ///
    /// Returns a JSON response containing details on all financial institutions currently supported by Plaid. Because Plaid supports thousands of institutions, results are paginated.  If there is no overlap between an institution’s enabled products and a client’s enabled products, then the institution will be filtered out from the response. As a result, the number of institutions returned may not match the count specified in the call.
    async fn institutions_get<'institutions_get_request>(&self, institutions_get_request: models::InstitutionsGetRequest) -> Result<models::InstitutionsGetResponse, Error<InstitutionsGetError>>;

    /// POST /institutions/get_by_id
    ///
    /// Returns a JSON response containing details on a specified financial institution currently supported by Plaid.  Versioning note: API versions 2019-05-29 and earlier allow use of the `public_key` parameter instead of the `client_id` and `secret` to authenticate to this endpoint. The `public_key` has been deprecated; all customers are encouraged to use `client_id` and `secret` instead. 
    async fn institutions_get_by_id<'institutions_get_by_id_request>(&self, institutions_get_by_id_request: models::InstitutionsGetByIdRequest) -> Result<models::InstitutionsGetByIdResponse, Error<InstitutionsGetByIdError>>;

    /// POST /institutions/search
    ///
    /// Returns a JSON response containing details for institutions that match the query parameters, up to a maximum of ten institutions per query.  Versioning note: API versions 2019-05-29 and earlier allow use of the `public_key` parameter instead of the `client_id` and `secret` parameters to authenticate to this endpoint. The `public_key` parameter has since been deprecated; all customers are encouraged to use `client_id` and `secret` instead. 
    async fn institutions_search<'institutions_search_request>(&self, institutions_search_request: models::InstitutionsSearchRequest) -> Result<models::InstitutionsSearchResponse, Error<InstitutionsSearchError>>;

    /// POST /item/access_token/invalidate
    ///
    /// By default, the `access_token` associated with an Item does not expire and should be stored in a persistent, secure manner.  You can use the `/item/access_token/invalidate` endpoint to rotate the `access_token` associated with an Item. The endpoint returns a new `access_token` and immediately invalidates the previous `access_token`. 
    async fn item_access_token_invalidate<'item_access_token_invalidate_request>(&self, item_access_token_invalidate_request: models::ItemAccessTokenInvalidateRequest) -> Result<models::ItemAccessTokenInvalidateResponse, Error<ItemAccessTokenInvalidateError>>;

    /// POST /item/activity/list
    ///
    /// List a historical log of user consent events
    async fn item_activity_list<'item_activity_list_request>(&self, item_activity_list_request: models::ItemActivityListRequest) -> Result<models::ItemActivityListResponse, Error<ItemActivityListError>>;

    /// POST /item/application/list
    ///
    /// List a user’s connected applications
    async fn item_application_list<'item_application_list_request>(&self, item_application_list_request: models::ItemApplicationListRequest) -> Result<models::ItemApplicationListResponse, Error<ItemApplicationListError>>;

    /// POST /item/application/scopes/update
    ///
    /// Enable consumers to update product access on selected accounts for an application.
    async fn item_application_scopes_update<'item_application_scopes_update_request>(&self, item_application_scopes_update_request: models::ItemApplicationScopesUpdateRequest) -> Result<models::ItemApplicationScopesUpdateResponse, Error<ItemApplicationScopesUpdateError>>;

    /// POST /item/application/unlink
    ///
    /// Unlink a user’s connected application. On an unlink request, Plaid will immediately revoke the Application’s access to the User’s data.  The User will have to redo the OAuth authentication process in order to restore functionality.  This endpoint only removes ongoing data access permissions, therefore the User will need to reach out to the Application itself in order to disable and delete their account and delete any data that the Application already received (if the Application does not do so by default).  This endpoint should be called in real time as the User is unlinking an Application, and should not be batched in order to ensure that the change is reflected as soon as possible.
    async fn item_application_unlink<'item_application_unlink_request>(&self, item_application_unlink_request: models::ItemApplicationUnlinkRequest) -> Result<models::ItemApplicationUnlinkResponse, Error<ItemApplicationUnlinkError>>;

    /// POST /item/public_token/create
    ///
    /// Note: As of July 2020, the `/item/public_token/create` endpoint is deprecated. Instead, use `/link/token/create` with an `access_token` to create a Link token for use with [update mode](https://plaid.com/docs/link/update-mode).  If you need your user to take action to restore or resolve an error associated with an Item, generate a public token with the `/item/public_token/create` endpoint and then initialize Link with that `public_token`.  A `public_token` is one-time use and expires after 30 minutes. You use a `public_token` to initialize Link in [update mode](https://plaid.com/docs/link/update-mode) for a particular Item. You can generate a `public_token` for an Item even if you did not use Link to create the Item originally.  The `/item/public_token/create` endpoint is **not** used to create your initial `public_token`. If you have not already received an `access_token` for a specific Item, use Link to obtain your `public_token` instead. See the [Quickstart](https://plaid.com/docs/quickstart) for more information.
    async fn item_create_public_token<'item_public_token_create_request>(&self, item_public_token_create_request: models::ItemPublicTokenCreateRequest) -> Result<models::ItemPublicTokenCreateResponse, Error<ItemCreatePublicTokenError>>;

    /// POST /item/get
    ///
    /// Returns information about the status of an Item.
    async fn item_get<'item_get_request>(&self, item_get_request: models::ItemGetRequest) -> Result<models::ItemGetResponse, Error<ItemGetError>>;

    /// POST /item/handle_fraud_report
    ///
    /// Use this endpoint to create a fraud report and terminate the associated Item. The `access_token` associated with the Item will be deactivated and billing for the Item's products will be ended.  This endpoint allows you to report various types of fraud incidents including account takeovers, identity fraud, unauthorized transactions, and other security events. The reported data helps improve fraud detection models and provides valuable feedback to enhance the overall security of the Plaid network. Reports can be created for confirmed incidents that have been fully investigated, or for suspected incidents that require further review. You can associate reports with specific users, sessions, or transactions to provide comprehensive context about the incident.
    async fn item_handle_fraud_report<'item_handle_fraud_report_request>(&self, item_handle_fraud_report_request: models::ItemHandleFraudReportRequest) -> Result<models::ItemHandleFraudReportResponse, Error<ItemHandleFraudReportError>>;

    /// POST /item/import
    ///
    /// `/item/import` creates an Item via your Plaid Exchange Integration and returns an `access_token`. As part of an `/item/import` request, you will include a User ID (`user_auth.user_id`) and Authentication Token (`user_auth.auth_token`) that enable data aggregation through your Plaid Exchange API endpoints. These authentication principals are to be chosen by you.  Upon creating an Item via `/item/import`, Plaid will automatically begin an extraction of that Item through the Plaid Exchange infrastructure you have already integrated.
    async fn item_import<'item_import_request>(&self, item_import_request: models::ItemImportRequest) -> Result<models::ItemImportResponse, Error<ItemImportError>>;

    /// POST /item/products/terminate
    ///
    /// The `/item/products/terminate` endpoint allows you to terminate an Item. Once terminated, the `access_token` associated with the Item is no longer valid, billing for the Item's products is ended, and relevant webhooks are fired.  `/item/products/terminate` is the recommended way to offboard users or disconnect accounts linked via Plaid.
    async fn item_products_terminate<'item_products_terminate_request>(&self, item_products_terminate_request: models::ItemProductsTerminateRequest) -> Result<models::ItemProductsTerminateResponse, Error<ItemProductsTerminateError>>;

    /// POST /item/public_token/exchange
    ///
    /// Exchange a Link `public_token` for an API `access_token`. Link hands off the `public_token` client-side via the `onSuccess` callback once a user has successfully created an Item. The `public_token` is ephemeral and expires after 30 minutes. An `access_token` does not expire, but can be revoked by calling `/item/remove`.  The response also includes an `item_id` that should be stored with the `access_token`. The `item_id` is used to identify an Item in a webhook. The `item_id` can also be retrieved by making an `/item/get` request.
    async fn item_public_token_exchange<'item_public_token_exchange_request>(&self, item_public_token_exchange_request: models::ItemPublicTokenExchangeRequest) -> Result<models::ItemPublicTokenExchangeResponse, Error<ItemPublicTokenExchangeError>>;

    /// POST /item/remove
    ///
    /// The `/item/remove` endpoint allows you to remove an Item. Once removed, the `access_token`, as well as any processor tokens or bank account tokens associated with the Item, is no longer valid and cannot be used to access any data that was associated with the Item.  Calling `/item/remove` is a recommended best practice when offboarding users or if a user chooses to disconnect an account linked via Plaid. For subscription products, such as Transactions, Liabilities, and Investments, calling `/item/remove` is required to end subscription billing for the Item, unless the end user revoked permission (e.g. via [https://my.plaid.com/](https://my.plaid.com/)). For more details, see [Subscription fee model](https://plaid.com/docs/account/billing/#subscription-fee).  On a Trial plan, calling `/item/remove` does not impact the number of remaining Trial Items (bank connections) you have available.  Removing an Item does not affect any Asset Reports or Audit Copies you have already created, which will remain accessible until you remove access to them specifically using the `/asset_report/remove` endpoint.  Also note that for certain OAuth-based institutions, an Item removed via `/item/remove` may still show as an active connection in the institution's OAuth permission manager.  API versions 2019-05-29 and earlier return a `removed` boolean as part of the response.
    async fn item_remove<'item_remove_request>(&self, item_remove_request: models::ItemRemoveRequest) -> Result<models::ItemRemoveResponse, Error<ItemRemoveError>>;

    /// POST /item/webhook/update
    ///
    /// The POST `/item/webhook/update` allows you to update the webhook URL associated with an Item. This request triggers a [`WEBHOOK_UPDATE_ACKNOWLEDGED`](https://plaid.com/docs/api/items/#webhook_update_acknowledged) webhook to the newly specified webhook URL.
    async fn item_webhook_update<'item_webhook_update_request>(&self, item_webhook_update_request: models::ItemWebhookUpdateRequest) -> Result<models::ItemWebhookUpdateResponse, Error<ItemWebhookUpdateError>>;

    /// POST /liabilities/get
    ///
    /// The `/liabilities/get` endpoint returns various details about an Item with loan or credit accounts. Liabilities data is available primarily for US financial institutions, with some limited coverage of Canadian institutions. Currently supported account types are account type `credit` with account subtype `credit card` or `paypal`, and account type `loan` with account subtype `student` or `mortgage`. To limit accounts listed in Link to types and subtypes supported by Liabilities, you can use the `account_filters` parameter when [creating a Link token](https://plaid.com/docs/api/link/#linktokencreate).  The types of information returned by Liabilities can include balances and due dates, loan terms, and account details such as original loan amount and guarantor. Data is refreshed approximately once per day; the latest data can be retrieved by calling `/liabilities/get`.
    async fn liabilities_get<'liabilities_get_request>(&self, liabilities_get_request: models::LiabilitiesGetRequest) -> Result<models::LiabilitiesGetResponse, Error<LiabilitiesGetError>>;

    /// POST /link_delivery/create
    ///
    /// Use the `/link_delivery/create` endpoint to create a Hosted Link session.
    async fn link_delivery_create<'link_delivery_create_request>(&self, link_delivery_create_request: models::LinkDeliveryCreateRequest) -> Result<models::LinkDeliveryCreateResponse, Error<LinkDeliveryCreateError>>;

    /// POST /link_delivery/get
    ///
    /// Use the `/link_delivery/get` endpoint to get the status of a Hosted Link session.
    async fn link_delivery_get<'link_delivery_get_request>(&self, link_delivery_get_request: models::LinkDeliveryGetRequest) -> Result<models::LinkDeliveryGetResponse, Error<LinkDeliveryGetError>>;

    /// POST /link/oauth/correlation_id/exchange
    ///
    /// Exchange an OAuth `link_correlation_id` for the corresponding `link_token`. The `link_correlation_id` is only available for `payment_initiation` products and is provided to the client via the OAuth `redirect_uri` as a query parameter. The `link_correlation_id` is ephemeral and expires in a brief period, after which it can no longer be exchanged for the `link_token`.
    async fn link_oauth_correlation_id_exchange<'link_o_auth_correlation_id_exchange_request>(&self, link_o_auth_correlation_id_exchange_request: models::LinkOAuthCorrelationIdExchangeRequest) -> Result<models::LinkOAuthCorrelationIdExchangeResponse, Error<LinkOauthCorrelationIdExchangeError>>;

    /// POST /link/token/create
    ///
    /// The `/link/token/create` endpoint creates a `link_token`, which is required as a parameter when initializing Link. Once Link has been initialized, it returns a `public_token`. For most Plaid products, the `public_token` is saved and exchanged for an `access_token` via `/item/public_token/exchange` as part of the main Link flow. For more details, see the [Link flow overview](https://plaid.com/docs/link/#link-flow-overview).  A `link_token` generated by `/link/token/create` is also used to initialize other Link flows, such as the [update mode](https://plaid.com/docs/link/update-mode) flow for tokens with expired credentials, or the Identity Verification flow.
    async fn link_token_create<'link_token_create_request>(&self, link_token_create_request: models::LinkTokenCreateRequest) -> Result<models::LinkTokenCreateResponse, Error<LinkTokenCreateError>>;

    /// POST /link/token/get
    ///
    /// The `/link/token/get` endpoint gets information about a Link session, including all callbacks fired during the session along with their metadata, including the public token. This endpoint is used with Link flows that don't provide a public token via frontend callbacks, such as the [Hosted Link flow](https://plaid.com/docs/link/hosted-link/) and the [Multi-Item Link flow](https://plaid.com/docs/link/multi-item-link/). It also can be useful for debugging purposes.  By default, this endpoint will only return complete event data for Hosted Link sessions. To use `/link/token/get` to retrieve event data for non-Hosted-Link sessions, contact your account manager to request that your account be enabled for Link events. If you do not have an account manager, you can submit this request via a support ticket. Enablement for Link events will also cause you to receive additional webhooks related to Link events, such as the `SESSION_FINISHED` and `EVENTS` webhook.
    async fn link_token_get<'link_token_get_request>(&self, link_token_get_request: models::LinkTokenGetRequest) -> Result<models::LinkTokenGetResponse, Error<LinkTokenGetError>>;

    /// POST /sandbox/bank_income/fire_webhook
    ///
    /// Use the `/sandbox/bank_income/fire_webhook` endpoint to manually trigger a Bank Income webhook in the Sandbox environment.
    async fn sandbox_bank_income_fire_webhook<'sandbox_bank_income_fire_webhook_request>(&self, sandbox_bank_income_fire_webhook_request: models::SandboxBankIncomeFireWebhookRequest) -> Result<models::SandboxBankIncomeFireWebhookResponse, Error<SandboxBankIncomeFireWebhookError>>;

    /// POST /sandbox/bank_transfer/fire_webhook
    ///
    /// Use the `/sandbox/bank_transfer/fire_webhook` endpoint to manually trigger a Bank Transfers webhook in the Sandbox environment.
    async fn sandbox_bank_transfer_fire_webhook<'sandbox_bank_transfer_fire_webhook_request>(&self, sandbox_bank_transfer_fire_webhook_request: models::SandboxBankTransferFireWebhookRequest) -> Result<models::SandboxBankTransferFireWebhookResponse, Error<SandboxBankTransferFireWebhookError>>;

    /// POST /sandbox/bank_transfer/simulate
    ///
    /// Use the `/sandbox/bank_transfer/simulate` endpoint to simulate a bank transfer event in the Sandbox environment.  Note that while an event will be simulated and will appear when using endpoints such as `/bank_transfer/event/sync` or `/bank_transfer/event/list`, no transactions will actually take place and funds will not move between accounts, even within the Sandbox.
    async fn sandbox_bank_transfer_simulate<'sandbox_bank_transfer_simulate_request>(&self, sandbox_bank_transfer_simulate_request: models::SandboxBankTransferSimulateRequest) -> Result<models::SandboxBankTransferSimulateResponse, Error<SandboxBankTransferSimulateError>>;

    /// POST /sandbox/cra/cashflow_updates/update
    ///
    /// Use the `/sandbox/cra/cashflow_updates/update` endpoint to manually trigger an update for Cash Flow Updates (Monitoring) in the Sandbox environment.
    async fn sandbox_cra_cashflow_updates_update<'sandbox_cra_cashflow_updates_update_request>(&self, sandbox_cra_cashflow_updates_update_request: models::SandboxCraCashflowUpdatesUpdateRequest) -> Result<models::SandboxCraCashflowUpdatesUpdateResponse, Error<SandboxCraCashflowUpdatesUpdateError>>;

    /// POST /sandbox/income/fire_webhook
    ///
    /// Use the `/sandbox/income/fire_webhook` endpoint to manually trigger a Payroll or Document Income webhook in the Sandbox environment.
    async fn sandbox_income_fire_webhook<'sandbox_income_fire_webhook_request>(&self, sandbox_income_fire_webhook_request: models::SandboxIncomeFireWebhookRequest) -> Result<models::SandboxIncomeFireWebhookResponse, Error<SandboxIncomeFireWebhookError>>;

    /// POST /sandbox/item/application/seed
    ///
    /// `/sandbox/item/application/seed` creates a test connected application on an existing Permissions Manager Item's login. The seeded application will appear in subsequent calls to `/item/application/list`.  The `access_token` must belong to a Permissions Manager Item created via `/item/import` in Sandbox. The `application_id` identifies the application to seed as a connected app. To disconnect a seeded application, use `/item/application/unlink`.
    async fn sandbox_item_application_seed<'sandbox_item_application_seed_request>(&self, sandbox_item_application_seed_request: models::SandboxItemApplicationSeedRequest) -> Result<models::SandboxItemApplicationSeedResponse, Error<SandboxItemApplicationSeedError>>;

    /// POST /sandbox/item/fire_webhook
    ///
    /// The `/sandbox/item/fire_webhook` endpoint is used to test that code correctly handles webhooks. This endpoint can trigger the following webhooks:  `DEFAULT_UPDATE`: Webhook to be fired for a given Sandbox Item simulating a default update event for the respective product as specified with the `webhook_type` in the request body. Valid Sandbox `DEFAULT_UPDATE` webhook types include: `AUTH`, `IDENTITY`, `TRANSACTIONS`, `INVESTMENTS_TRANSACTIONS`, `LIABILITIES`, `HOLDINGS`. If the Item does not support the product, a `SANDBOX_PRODUCT_NOT_ENABLED` error will result.  `NEW_ACCOUNTS_AVAILABLE`: Fired to indicate that a new account is available on the Item and you can launch update mode to request access to it.  `SMS_MICRODEPOSITS_VERIFICATION`: Fired when a given same day micro-deposit item is verified via SMS verification.  `LOGIN_REPAIRED`: Fired when an Item recovers from the `ITEM_LOGIN_REQUIRED` without the user going through update mode in your app.  `PENDING_DISCONNECT`: Fired when an Item will stop working in the near future (e.g. due to a planned bank migration) and must be sent through update mode to continue working.  `RECURRING_TRANSACTIONS_UPDATE`: Recurring Transactions webhook to be fired for a given Sandbox Item. If the Item does not support Recurring Transactions, a `SANDBOX_PRODUCT_NOT_ENABLED` error will result.  `SYNC_UPDATES_AVAILABLE`: Transactions webhook to be fired for a given Sandbox Item.  If the Item does not support Transactions, a `SANDBOX_PRODUCT_NOT_ENABLED` error will result.  `PRODUCT_READY`: Assets webhook to be fired when a given asset report has been successfully generated. If the Item does not support Assets, a `SANDBOX_PRODUCT_NOT_ENABLED` error will result.  `ERROR`: Assets webhook to be fired when asset report generation has failed. If the Item does not support Assets, a `SANDBOX_PRODUCT_NOT_ENABLED` error will result.  `USER_PERMISSION_REVOKED`: Indicates an end user has revoked the permission that they previously granted to access an Item. May not always fire upon revocation, as some institutions’ consent portals do not trigger this webhook. Upon receiving this webhook, it is recommended to delete any stored data from Plaid associated with the account or Item.  `USER_ACCOUNT_REVOKED`: Fired when an end user has revoked access to their account on the Data Provider's portal. This webhook is currently sent only for PNC Items, but may be sent in the future for other financial institutions. Upon receiving this webhook, it is recommended to delete any stored data from Plaid associated with the account or Item.  Note that this endpoint is provided for developer ease-of-use and is not required for testing webhooks; webhooks will also fire in Sandbox under the same conditions that they would in Production (except for webhooks of type `TRANSFER`).
    async fn sandbox_item_fire_webhook<'sandbox_item_fire_webhook_request>(&self, sandbox_item_fire_webhook_request: models::SandboxItemFireWebhookRequest) -> Result<models::SandboxItemFireWebhookResponse, Error<SandboxItemFireWebhookError>>;

    /// POST /sandbox/item/reset_login
    ///
    /// `/sandbox/item/reset_login/` forces an Item into an `ITEM_LOGIN_REQUIRED` state in order to simulate an Item whose login is no longer valid. This makes it easy to test Link's [update mode](https://plaid.com/docs/link/update-mode) flow in the Sandbox environment.  After calling `/sandbox/item/reset_login`, You can then use Plaid Link update mode to restore the Item to a good state. An `ITEM_LOGIN_REQUIRED` webhook will also be fired after a call to this endpoint, if one is associated with the Item. In the Sandbox, Items will transition to an `ITEM_LOGIN_REQUIRED` error state automatically after 30 days, even if this endpoint is not called.
    async fn sandbox_item_reset_login<'sandbox_item_reset_login_request>(&self, sandbox_item_reset_login_request: models::SandboxItemResetLoginRequest) -> Result<models::SandboxItemResetLoginResponse, Error<SandboxItemResetLoginError>>;

    /// POST /sandbox/item/set_verification_status
    ///
    /// The `/sandbox/item/set_verification_status` endpoint can be used to change the verification status of an Item in in the Sandbox in order to simulate the Automated Micro-deposit flow.  For more information on testing Automated Micro-deposits in Sandbox, see [Auth full coverage testing](https://plaid.com/docs/auth/coverage/testing#).
    async fn sandbox_item_set_verification_status<'sandbox_item_set_verification_status_request>(&self, sandbox_item_set_verification_status_request: models::SandboxItemSetVerificationStatusRequest) -> Result<models::SandboxItemSetVerificationStatusResponse, Error<SandboxItemSetVerificationStatusError>>;

    /// POST /sandbox/oauth/select_accounts
    ///
    /// Save the selected accounts when connecting to the Platypus Oauth institution
    async fn sandbox_oauth_select_accounts<'sandbox_oauth_select_accounts_request>(&self, sandbox_oauth_select_accounts_request: models::SandboxOauthSelectAccountsRequest) -> Result<std::collections::HashMap<String, serde_json::Value>, Error<SandboxOauthSelectAccountsError>>;

    /// POST /sandbox/payment_profile/reset_login
    ///
    /// `/sandbox/payment_profile/reset_login/` forces a Payment Profile into a state where the login is no longer valid. This makes it easy to test update mode for Payment Profile in the Sandbox environment.   After calling `/sandbox/payment_profile/reset_login`, calls to the `/transfer/authorization/create` with the Payment Profile will result in a `decision_rationale` `PAYMENT_PROFILE_LOGIN_REQUIRED`. You can then use update mode for Payment Profile to restore it into a good state.   In order to invoke this endpoint, you must first [create a Payment Profile](https://plaid.com/docs/transfer/add-to-app/#create-a-payment-profile-optional) and [go through the Link flow](https://plaid.com/docs/transfer/add-to-app/#create-a-link-token).
    async fn sandbox_payment_profile_reset_login<'sandbox_payment_profile_reset_login_request>(&self, sandbox_payment_profile_reset_login_request: models::SandboxPaymentProfileResetLoginRequest) -> Result<models::SandboxPaymentProfileResetLoginResponse, Error<SandboxPaymentProfileResetLoginError>>;

    /// POST /sandbox/payment/simulate
    ///
    /// Use the `/sandbox/payment/simulate` endpoint to simulate various payment events in the Sandbox environment. This endpoint will trigger the corresponding payment status webhook.
    async fn sandbox_payment_simulate<'sandbox_payment_simulate_request>(&self, sandbox_payment_simulate_request: models::SandboxPaymentSimulateRequest) -> Result<models::SandboxPaymentSimulateResponse, Error<SandboxPaymentSimulateError>>;

    /// POST /sandbox/processor_token/create
    ///
    /// Use the `/sandbox/processor_token/create` endpoint to create a valid `processor_token` for an arbitrary institution ID and test credentials. The created `processor_token` corresponds to a new Sandbox Item. You can then use this `processor_token` with the `/processor/` API endpoints in Sandbox. You can also use `/sandbox/processor_token/create` with the [`user_custom` test username](https://plaid.com/docs/sandbox/user-custom) to generate a test account with custom data.
    async fn sandbox_processor_token_create<'sandbox_processor_token_create_request>(&self, sandbox_processor_token_create_request: models::SandboxProcessorTokenCreateRequest) -> Result<models::SandboxProcessorTokenCreateResponse, Error<SandboxProcessorTokenCreateError>>;

    /// POST /sandbox/public_token/create
    ///
    /// Use the `/sandbox/public_token/create` endpoint to create a valid `public_token`  for an arbitrary institution ID, initial products, and test credentials. The created `public_token` maps to a new Sandbox Item. You can then call `/item/public_token/exchange` to exchange the `public_token` for an `access_token` and perform all API actions. `/sandbox/public_token/create` can also be used with the [`user_custom` test username](https://plaid.com/docs/sandbox/user-custom) to generate a test account with custom data, or with Plaid's [pre-populated Sandbox test accounts](https://plaid.com/docs/sandbox/test-credentials/).
    async fn sandbox_public_token_create<'sandbox_public_token_create_request>(&self, sandbox_public_token_create_request: models::SandboxPublicTokenCreateRequest) -> Result<models::SandboxPublicTokenCreateResponse, Error<SandboxPublicTokenCreateError>>;

    /// POST /sandbox/transactions/create
    ///
    /// Use the `/sandbox/transactions/create` endpoint to create new transactions for an existing Item. This endpoint can be used to add up to 10 transactions to any Item at a time.  This endpoint can only be used with Items that were created in the Sandbox environment using the `user_transactions_dynamic` test user. You can use this to add transactions to test the `/transactions/get` and `/transactions/sync` endpoints.
    async fn sandbox_transactions_create<'sandbox_transactions_create_request>(&self, sandbox_transactions_create_request: models::SandboxTransactionsCreateRequest) -> Result<models::SandboxTransactionsCreateResponse, Error<SandboxTransactionsCreateError>>;

    /// POST /sandbox/transfer/fire_webhook
    ///
    /// Use the `/sandbox/transfer/fire_webhook` endpoint to manually trigger a `TRANSFER_EVENTS_UPDATE` webhook in the Sandbox environment.
    async fn sandbox_transfer_fire_webhook<'sandbox_transfer_fire_webhook_request>(&self, sandbox_transfer_fire_webhook_request: models::SandboxTransferFireWebhookRequest) -> Result<models::SandboxTransferFireWebhookResponse, Error<SandboxTransferFireWebhookError>>;

    /// POST /sandbox/transfer/ledger/deposit/simulate
    ///
    /// Use the `/sandbox/transfer/ledger/deposit/simulate` endpoint to simulate a ledger deposit event in the Sandbox environment.
    async fn sandbox_transfer_ledger_deposit_simulate<'sandbox_transfer_ledger_deposit_simulate_request>(&self, sandbox_transfer_ledger_deposit_simulate_request: models::SandboxTransferLedgerDepositSimulateRequest) -> Result<models::SandboxTransferLedgerDepositSimulateResponse, Error<SandboxTransferLedgerDepositSimulateError>>;

    /// POST /sandbox/transfer/ledger/simulate_available
    ///
    /// Use the `/sandbox/transfer/ledger/simulate_available` endpoint to simulate converting pending balance to available balance for all originators in the Sandbox environment.
    async fn sandbox_transfer_ledger_simulate_available<'sandbox_transfer_ledger_simulate_available_request>(&self, sandbox_transfer_ledger_simulate_available_request: models::SandboxTransferLedgerSimulateAvailableRequest) -> Result<models::SandboxTransferLedgerSimulateAvailableResponse, Error<SandboxTransferLedgerSimulateAvailableError>>;

    /// POST /sandbox/transfer/ledger/withdraw/simulate
    ///
    /// Use the `/sandbox/transfer/ledger/withdraw/simulate` endpoint to simulate a ledger withdraw event in the Sandbox environment.
    async fn sandbox_transfer_ledger_withdraw_simulate<'sandbox_transfer_ledger_withdraw_simulate_request>(&self, sandbox_transfer_ledger_withdraw_simulate_request: models::SandboxTransferLedgerWithdrawSimulateRequest) -> Result<models::SandboxTransferLedgerWithdrawSimulateResponse, Error<SandboxTransferLedgerWithdrawSimulateError>>;

    /// POST /sandbox/transfer/refund/simulate
    ///
    /// Use the `/sandbox/transfer/refund/simulate` endpoint to simulate a refund event in the Sandbox environment.  Note that while an event will be simulated and will appear when using endpoints such as `/transfer/event/sync` or `/transfer/event/list`, no transactions will actually take place and funds will not move between accounts, even within the Sandbox.
    async fn sandbox_transfer_refund_simulate<'sandbox_transfer_refund_simulate_request>(&self, sandbox_transfer_refund_simulate_request: models::SandboxTransferRefundSimulateRequest) -> Result<models::SandboxTransferRefundSimulateResponse, Error<SandboxTransferRefundSimulateError>>;

    /// POST /sandbox/transfer/repayment/simulate
    ///
    /// Use the `/sandbox/transfer/repayment/simulate` endpoint to trigger the creation of a repayment. As a side effect of calling this route, a repayment is created that includes all unreimbursed returns of guaranteed transfers. If there are no such returns, an 400 error is returned.
    async fn sandbox_transfer_repayment_simulate<'sandbox_transfer_repayment_simulate_request>(&self, sandbox_transfer_repayment_simulate_request: models::SandboxTransferRepaymentSimulateRequest) -> Result<models::SandboxTransferRepaymentSimulateResponse, Error<SandboxTransferRepaymentSimulateError>>;

    /// POST /sandbox/transfer/simulate
    ///
    /// Use the `/sandbox/transfer/simulate` endpoint to simulate a transfer event in the Sandbox environment.  Note that while an event will be simulated and will appear when using endpoints such as `/transfer/event/sync` or `/transfer/event/list`, no transactions will actually take place and funds will not move between accounts, even within the Sandbox.
    async fn sandbox_transfer_simulate<'sandbox_transfer_simulate_request>(&self, sandbox_transfer_simulate_request: models::SandboxTransferSimulateRequest) -> Result<models::SandboxTransferRepaymentSimulateResponse, Error<SandboxTransferSimulateError>>;

    /// POST /sandbox/transfer/sweep/simulate
    ///
    /// Use the `/sandbox/transfer/sweep/simulate` endpoint to create a sweep and associated events in the Sandbox environment. Upon calling this endpoint, all transfers with a sweep status of `swept` will become `swept_settled`, all `posted` or `pending` transfers with a sweep status of `unswept` will become `swept`, and all `returned` transfers with a sweep status of `swept` will become `return_swept`.
    async fn sandbox_transfer_sweep_simulate<'sandbox_transfer_sweep_simulate_request>(&self, sandbox_transfer_sweep_simulate_request: models::SandboxTransferSweepSimulateRequest) -> Result<models::SandboxTransferSweepSimulateResponse, Error<SandboxTransferSweepSimulateError>>;

    /// POST /sandbox/transfer/test_clock/advance
    ///
    /// Use the `/sandbox/transfer/test_clock/advance` endpoint to advance a `test_clock` in the Sandbox environment.  A test clock object represents an independent timeline and has a `virtual_time` field indicating the current timestamp of the timeline. A test clock can be advanced by incrementing `virtual_time`, but may never go back to a lower `virtual_time`.  If a test clock is advanced, we will simulate the changes that ought to occur during the time that elapsed.  For example, a client creates a weekly recurring transfer with a test clock set at t. When the client advances the test clock by setting `virtual_time` = t + 15 days, 2 new originations should be created, along with the webhook events.  The advancement of the test clock from its current `virtual_time` should be limited such that there are no more than 20 originations resulting from the advance operation on each `recurring_transfer` associated with the `test_clock`.  For example, if the recurring transfer associated with this test clock originates once every 4 weeks, you can advance the `virtual_time` up to 80 weeks on each API call.
    async fn sandbox_transfer_test_clock_advance<'sandbox_transfer_test_clock_advance_request>(&self, sandbox_transfer_test_clock_advance_request: models::SandboxTransferTestClockAdvanceRequest) -> Result<models::SandboxTransferTestClockAdvanceResponse, Error<SandboxTransferTestClockAdvanceError>>;

    /// POST /sandbox/transfer/test_clock/create
    ///
    /// Use the `/sandbox/transfer/test_clock/create` endpoint to create a `test_clock` in the Sandbox environment.  A test clock object represents an independent timeline and has a `virtual_time` field indicating the current timestamp of the timeline. Test clocks are used for testing recurring transfers in Sandbox.  A test clock can be associated with up to 5 recurring transfers.
    async fn sandbox_transfer_test_clock_create<'sandbox_transfer_test_clock_create_request>(&self, sandbox_transfer_test_clock_create_request: models::SandboxTransferTestClockCreateRequest) -> Result<models::SandboxTransferTestClockCreateResponse, Error<SandboxTransferTestClockCreateError>>;

    /// POST /sandbox/transfer/test_clock/get
    ///
    /// Use the `/sandbox/transfer/test_clock/get` endpoint to get a `test_clock` in the Sandbox environment.
    async fn sandbox_transfer_test_clock_get<'sandbox_transfer_test_clock_get_request>(&self, sandbox_transfer_test_clock_get_request: models::SandboxTransferTestClockGetRequest) -> Result<models::SandboxTransferTestClockGetResponse, Error<SandboxTransferTestClockGetError>>;

    /// POST /sandbox/transfer/test_clock/list
    ///
    /// Use the `/sandbox/transfer/test_clock/list` endpoint to see a list of all your test clocks in the Sandbox environment, by ascending `virtual_time`. Results are paginated; use the `count` and `offset` query parameters to retrieve the desired test clocks.
    async fn sandbox_transfer_test_clock_list<'sandbox_transfer_test_clock_list_request>(&self, sandbox_transfer_test_clock_list_request: models::SandboxTransferTestClockListRequest) -> Result<models::SandboxTransferTestClockListResponse, Error<SandboxTransferTestClockListError>>;

    /// POST /sandbox/user/reset_login
    ///
    /// `/sandbox/user/reset_login/` functions the same as `/sandbox/item/reset_login`, but will modify Items related to a User. This endpoint forces each Item into an `ITEM_LOGIN_REQUIRED` state in order to simulate an Item whose login is no longer valid. This makes it easy to test Link's [update mode](https://plaid.com/docs/link/update-mode) flow in the Sandbox environment.  After calling `/sandbox/user/reset_login`, You can then use Plaid Link update mode to restore Items associated with the User to a good state. An `ITEM_LOGIN_REQUIRED` webhook will also be fired after a call to this endpoint, if one is associated with the Item. In the Sandbox, Items will transition to an `ITEM_LOGIN_REQUIRED` error state automatically after 30 days, even if this endpoint is not called.
    async fn sandbox_user_reset_login<'sandbox_user_reset_login_request>(&self, sandbox_user_reset_login_request: models::SandboxUserResetLoginRequest) -> Result<models::SandboxUserResetLoginResponse, Error<SandboxUserResetLoginError>>;

    /// POST /session/token/create
    ///
    /// `/session/token/create` is used to create a Link token for Layer. The returned Link token is used as an parameter when initializing the Link SDK. For more details, see the [Link flow overview](https://plaid.com/docs/link/#link-flow-overview).
    async fn session_token_create<'session_token_create_request>(&self, session_token_create_request: models::SessionTokenCreateRequest) -> Result<models::SessionTokenCreateResponse, Error<SessionTokenCreateError>>;

    /// POST /transactions/get
    ///
    /// Note: All new implementations are encouraged to use `/transactions/sync` rather than `/transactions/get`. `/transactions/sync` provides the same functionality as `/transactions/get` and improves developer ease-of-use for handling transactions updates. The `/transactions/get` endpoint allows developers to receive user-authorized transaction data for credit, depository, and some loan-type accounts (only those with account subtype `student`; coverage may be limited). For transaction history from investments accounts, use the [Investments endpoint](https://plaid.com/docs/api/products/investments/) instead. Transaction data is standardized across financial institutions, and in many cases transactions are linked to a clean name, entity type, location, and category. Similarly, account data is standardized and returned with a clean name, number, balance, and other meta information where available. Transactions are returned in reverse-chronological order, and the sequence of transaction ordering is stable and will not shift.  Transactions are not immutable and can also be removed altogether by the institution; a removed transaction will no longer appear in `/transactions/get`.  For more details, see [Pending and posted transactions](https://plaid.com/docs/transactions/transactions-data/#pending-and-posted-transactions). Due to the potentially large number of transactions associated with an Item, results are paginated. Manipulate the `count` and `offset` parameters in conjunction with the `total_transactions` response body field to fetch all available transactions. Data returned by `/transactions/get` will be the data available for the Item as of the most recent successful check for new transactions. Plaid typically checks for new data multiple times a day, but these checks may occur less frequently, such as once a day, depending on the institution. To find out when the Item was last updated, use the [Item Debugger](https://plaid.com/docs/account/activity/#troubleshooting-with-item-debugger) or call `/item/get`; the `item.status.transactions.last_successful_update` field will show the timestamp of the most recent successful update. To force Plaid to check for new transactions, you can use the `/transactions/refresh` endpoint.   Note that data may not be immediately available to `/transactions/get`. Plaid will begin to prepare transactions data upon Item link, if Link was initialized with `transactions`, or upon the first call to `/transactions/get`, if it wasn't. To be alerted when transaction data is ready to be fetched, listen for the [`INITIAL_UPDATE`](https://plaid.com/docs/api/products/transactions/#initial_update) and [`HISTORICAL_UPDATE`](https://plaid.com/docs/api/products/transactions/#historical_update) webhooks. If no transaction history is ready when `/transactions/get` is called, it will return a `PRODUCT_NOT_READY` error.
    async fn transactions_get<'transactions_get_request>(&self, transactions_get_request: models::TransactionsGetRequest) -> Result<models::TransactionsGetResponse, Error<TransactionsGetError>>;

    /// POST /transactions/recurring/get
    ///
    /// The `/transactions/recurring/get` endpoint allows developers to receive a summary of the recurring outflow and inflow streams (expenses and deposits) from a user’s checking, savings or credit card accounts. Additionally, Plaid provides key insights about each recurring stream including the category, merchant, last amount, and more. Developers can use these insights to build tools and experiences that help their users better manage cash flow, monitor subscriptions, reduce spend, and stay on track with bill payments.  This endpoint is offered as an add-on to Transactions. To request access to this endpoint, submit a [product access request](https://dashboard.plaid.com/team/products) or contact your Plaid account manager.  This endpoint can only be called on an Item that has already been initialized with Transactions (either during Link, by specifying it in `/link/token/create`; or after Link, by calling `/transactions/get` or `/transactions/sync`).  When using Recurring Transactions, for best results, make sure to use the [`days_requested`](https://plaid.com/docs/api/link/#link-token-create-request-transactions-days-requested) parameter to request at least 180 days of history when initializing Items with Transactions. Once all historical transactions have been fetched, call `/transactions/recurring/get` to receive the Recurring Transactions streams and subscribe to the [`RECURRING_TRANSACTIONS_UPDATE`](https://plaid.com/docs/api/products/transactions/#recurring_transactions_update) webhook. To know when historical transactions have been fetched, if you are using `/transactions/sync` listen for the [`SYNC_UPDATES_AVAILABLE`](https://plaid.com/docs/api/products/transactions/#SyncUpdatesAvailableWebhook-historical-update-complete) webhook and check that the `historical_update_complete` field in the payload is `true`. If using `/transactions/get`, listen for the [`HISTORICAL_UPDATE`](https://plaid.com/docs/api/products/transactions/#historical_update) webhook.  After the initial call, you can call `/transactions/recurring/get` endpoint at any point in the future to retrieve the latest summary of recurring streams. Listen to the [`RECURRING_TRANSACTIONS_UPDATE`](https://plaid.com/docs/api/products/transactions/#recurring_transactions_update) webhook to be notified when new updates are available.
    async fn transactions_recurring_get<'transactions_recurring_get_request>(&self, transactions_recurring_get_request: models::TransactionsRecurringGetRequest) -> Result<models::TransactionsRecurringGetResponse, Error<TransactionsRecurringGetError>>;

    /// POST /transactions/refresh
    ///
    /// `/transactions/refresh` is an optional endpoint that initiates an on-demand extraction to fetch the newest transactions for an Item. The on-demand extraction takes place in addition to the periodic extractions that automatically occur one or more times per day for any Transactions-enabled Item. The Item must already have Transactions added as a product in order to call `/transactions/refresh`.  If changes to transactions are discovered after calling `/transactions/refresh`, Plaid will fire a webhook: for `/transactions/sync` users, [`SYNC_UPDATES_AVAILABLE`](https://plaid.com/docs/api/products/transactions/#sync_updates_available) will be fired if there are any transactions updated, added, or removed. For users of both `/transactions/sync` and `/transactions/get`, [`TRANSACTIONS_REMOVED`](https://plaid.com/docs/api/products/transactions/#transactions_removed) will be fired if any removed transactions are detected, and [`DEFAULT_UPDATE`](https://plaid.com/docs/api/products/transactions/#default_update) will be fired if any new transactions are detected. New transactions can be fetched by calling `/transactions/get` or `/transactions/sync`.  Note that the `/transactions/refresh` endpoint is not supported for Capital One (`ins_128026`) non-depository accounts and will result in a `PRODUCTS_NOT_SUPPORTED` error if called on an Item that contains only non-depository accounts from that institution.  As this endpoint triggers a synchronous request for fresh data, latency may be higher than for other Plaid endpoints (typically less than 10 seconds, but occasionally up to 30 seconds or more); if you encounter errors, you may find it necessary to adjust your timeout period when making requests.  `/transactions/refresh` is offered as an optional add-on to Transactions and has a separate [fee model](https://plaid.com/docs/account/billing/#per-request-flat-fee). To request access to this endpoint, submit a [product access request](https://dashboard.plaid.com/team/products) or contact your Plaid account manager.
    async fn transactions_refresh<'transactions_refresh_request>(&self, transactions_refresh_request: models::TransactionsRefreshRequest) -> Result<models::TransactionsRefreshResponse, Error<TransactionsRefreshError>>;

    /// POST /transactions/sync
    ///
    /// The `/transactions/sync` endpoint retrieves transactions associated with an Item and can fetch updates using a cursor to track which updates have already been seen.  For important instructions on integrating with `/transactions/sync`, see the [Transactions integration overview](https://plaid.com/docs/transactions/#integration-overview). If you are migrating from an existing integration using `/transactions/get`, see the [Transactions Sync migration guide](https://plaid.com/docs/transactions/sync-migration/).  This endpoint supports `credit`, `depository`, and some `loan`-type accounts (only those with account subtype `student`). For `investments` accounts, use `/investments/transactions/get` instead.  When retrieving paginated updates, track both the `next_cursor` from the latest response and the original cursor from the first call in which `has_more` was `true`; if a call to `/transactions/sync` fails when retrieving a paginated update (e.g due to the [`TRANSACTIONS_SYNC_MUTATION_DURING_PAGINATION`](https://plaid.com/docs/errors/transactions/#transactions_sync_mutation_during_pagination) error), the entire pagination request loop must be restarted beginning with the cursor for the first page of the update, rather than retrying only the single request that failed.  If transactions data is not yet available for the Item, which can happen if the Item was not initialized with transactions during the `/link/token/create` call or if `/transactions/sync` was called within a few seconds of Item creation, `/transactions/sync` will return empty transactions arrays.  Plaid typically checks for new transactions data between one and four times per day, depending on the institution. To find out when transactions were last updated for an Item, use the [Item Debugger](https://plaid.com/docs/account/activity/#troubleshooting-with-item-debugger) or call `/item/get`; the `item.status.transactions.last_successful_update` field will show the timestamp of the most recent successful update. To force Plaid to check for new transactions, use the `/transactions/refresh` endpoint.  To be alerted when new transactions are available, listen for the [`SYNC_UPDATES_AVAILABLE`](https://plaid.com/docs/api/products/transactions/#sync_updates_available) webhook.
    async fn transactions_sync<'transactions_sync_request>(&self, transactions_sync_request: models::TransactionsSyncRequest) -> Result<models::TransactionsSyncResponse, Error<TransactionsSyncError>>;

    /// POST /user_account/session/event/send
    ///
    /// This endpoint allows sending client-specific events related to Layer sessions for analytics and tracking purposes.
    async fn user_account_session_event_send<'user_account_session_event_send_request>(&self, user_account_session_event_send_request: models::UserAccountSessionEventSendRequest) -> Result<models::UserAccountSessionEventSendResponse, Error<UserAccountSessionEventSendError>>;

    /// POST /user_account/session/get
    ///
    /// This endpoint returns user permissioned account data, including identity and Item access tokens, for use with [Plaid Layer](https://plaid.com/docs/layer). Note that end users are permitted to edit the prefilled identity data in the Link flow before sharing it with you; you should treat any identity data returned by this endpoint as user-submitted, unverified data. For a verification layer, you can add [Identity Verification](https://plaid.com/docs/identity-verification/) to your flow, or check the submitted identity data against bank account data from linked accounts using [Identity Match](https://plaid.com/docs/identity/#identity-match).
    async fn user_account_session_get<'user_account_session_get_request>(&self, user_account_session_get_request: models::UserAccountSessionGetRequest) -> Result<models::UserAccountSessionGetResponse, Error<UserAccountSessionGetError>>;

    /// POST /user/create
    ///
    /// For Plaid products and flows that use the user object, `/user/create` provides you a single token to access all data associated with the user. You must call this endpoint before calling `/link/token/create` if you are using any of the following: Plaid Check, Income Verification, Multi-Item Link, or Plaid Protect (Identity). If you are using Plaid Protect Link session scoring, you do not need to call `/user/create` first; Plaid will resolve or create the user when `user.client_user_id` is provided in `/link/token/create`. For customers who began using this endpoint on or after December 10, 2025, this endpoint takes a `client_user_id` and an `identity` object and will return a `user_id`. For customers who began using it before that date, the endpoint takes a `client_user_id` and a `consumer_report_user_identity` object and will return a `user_token` and `user_id`. For more details, see [New User APIs](https://plaid.com/docs/api/users/user-apis). In order to create a Plaid Check Consumer Report for a user, the `identity` (new) or `consumer_report_user_identity` (legacy) object must be present. If it is not provided during the `/user/create` call, it can be added later by calling `/user/update`.   In order to generate a Plaid Check Consumer Report, the following `identity` fields, at minimum, are required and must be non-empty: `name`, `date_of_birth`, `emails`, `phone_numbers`, and `addresses`, (with at least one email, phone number, and address designated as `primary`). Plaid Check Consumer Reports can only be created for US-based users; the user's address country must be `US`. If creating a report for sharing with a GSE such as Fannie or Freddie, the user's full SSN must be provided via the `id_numbers` field. Providing at least a partial SSN is also strongly recommended for all use cases, since it improves the accuracy of matching user records during compliance processes such as file disclosure, dispute, or security freeze requests.   When using Plaid Protect, it is highly recommended that you provide an `identity` object to better identify and block fraud across your Link sessions.   Plaid will normalize identity fields before storing them and utilize the same identity across different user-based products.
    async fn user_create<'user_create_request, 'plaid_new_user_api_enabled>(&self, user_create_request: models::UserCreateRequest, plaid_new_user_api_enabled: Option<bool>) -> Result<models::UserCreateResponse, Error<UserCreateError>>;

    /// POST /user/financial_data/refresh
    ///
    /// `/user/financial_data/refresh` is an optional endpoint that initiates an on-demand extraction to fetch the newest transactions for a User using the Financial Insights bundle. This bundle refreshes the Transactions, Investments, and Liabilities product data. This endpoint is for clients who use the Transactions Insights bundle and want to proactively update all linked Items under a user. The refresh may succeed or fail on a per-Item basis. Use the `results` array in the response to understand the outcome for each Item.  This endpoint is distinct from `/transactions/refresh`, which triggers a refresh for a single Item. Use `/user/financial_data/refresh` to target all Items for a user instead.
    async fn user_financial_data_refresh<'user_financial_data_refresh_request>(&self, user_financial_data_refresh_request: models::UserFinancialDataRefreshRequest) -> Result<models::UserFinancialDataRefreshResponse, Error<UserFinancialDataRefreshError>>;

    /// POST /user/get
    ///
    /// Get user details using a `user_id`. This endpoint only supports users that were created on the new user API flow, without a `user_token`. For more details, see [New User APIs](https://plaid.com/docs/api/users/user-apis).
    async fn user_get<'user_get_request, 'plaid_new_user_api_enabled>(&self, user_get_request: models::UserGetRequest, plaid_new_user_api_enabled: Option<bool>) -> Result<models::UserGetResponse, Error<UserGetError>>;

    /// POST /user/identity/remove
    ///
    /// This endpoint allows customers to explicitly purge identity/PII data provided to Plaid for a given user. This is not exposed to customers by default, as it is meant for special scenarios or requests, but Plaid is obligated to enable customers to delete PII provided to us.
    async fn user_identity_remove<'user_identity_remove_request, 'plaid_new_user_api_enabled>(&self, user_identity_remove_request: models::UserIdentityRemoveRequest, plaid_new_user_api_enabled: Option<bool>) -> Result<models::UserIdentityRemoveResponse, Error<UserIdentityRemoveError>>;

    /// POST /user/items/associate
    ///
    /// Associates Items to the target user. If an Item is already associated to another user, the Item will be disassociated with the existing user and associated to the target user. This operation supports a max of 100 Items.
    async fn user_items_associate<'user_items_associate_request>(&self, user_items_associate_request: models::UserItemsAssociateRequest) -> Result<models::UserItemsAssociateResponse, Error<UserItemsAssociateError>>;

    /// POST /user/items/get
    ///
    /// Returns Items associated with a `user_id`, along with their corresponding statuses. Plaid associates an Item with a User when it has been successfully connected within a Link session initialized with that `user_id`.
    async fn user_items_get<'user_items_get_request>(&self, user_items_get_request: models::UserItemsGetRequest) -> Result<models::UserItemsGetResponse, Error<UserItemsGetError>>;

    /// POST /user/items/remove
    ///
    /// Removes specific Items associated with a user. It is equivalent to calling `/item/remove` on each Item individually, but supports use cases (such as Plaid Check) where access tokens are not available. All specified Items must belong to the user or the entire operation fails. Similar to `/item/remove`, this deletes Item product data, terminates billing on the Item's products, and fires webhooks to the financial institution. Once removed, Items cannot be reconnected without going through Link again.
    async fn user_items_remove<'user_items_remove_request>(&self, user_items_remove_request: models::UserItemsRemoveRequest) -> Result<models::UserItemsRemoveResponse, Error<UserItemsRemoveError>>;

    /// POST /user/products/terminate
    ///
    /// `/user/products/terminate` terminates user-based recurring subscriptions for a given client user. This will remove user-based products (Financial Management, Protect, and CRA products) from all items associated with the user.
    async fn user_products_terminate<'user_products_terminate_request>(&self, user_products_terminate_request: models::UserProductsTerminateRequest) -> Result<models::UserProductsTerminateResponse, Error<UserProductsTerminateError>>;

    /// POST /user/remove
    ///
    /// `/user/remove` deletes a `user_id` or `user_token` and and associated information, including any Items associated with the user.
    async fn user_remove<'user_remove_request, 'plaid_new_user_api_enabled>(&self, user_remove_request: models::UserRemoveRequest, plaid_new_user_api_enabled: Option<bool>) -> Result<models::UserRemoveResponse, Error<UserRemoveError>>;

    /// POST /user/third_party_token/create
    ///
    /// This endpoint is used to create a third-party user token. This token can be shared with and used by a specified third-party client to access data associated with the user through supported endpoints.  Ensure you store the `third_party_user_token` along with the `user_token` and `third_party_client_id`, as it is not possible to retrieve a previously created `third_party_user_token`.
    async fn user_third_party_token_create<'user_third_party_token_create_request>(&self, user_third_party_token_create_request: models::UserThirdPartyTokenCreateRequest) -> Result<models::UserThirdPartyTokenCreateResponse, Error<UserThirdPartyTokenCreateError>>;

    /// POST /user/third_party_token/remove
    ///
    /// This endpoint is used to delete a third-party user token. Once removed, the token can longer be used to access data associated with the user.  Any subsequent calls to retrieve information using the same third-party user token will result in an error stating the third-party user token does not exist.
    async fn user_third_party_token_remove<'user_third_party_token_remove_request>(&self, user_third_party_token_remove_request: models::UserThirdPartyTokenRemoveRequest) -> Result<models::UserThirdPartyTokenRemoveResponse, Error<UserThirdPartyTokenRemoveError>>;

    /// POST /user/transactions/refresh
    ///
    /// `/user/transactions/refresh` is an optional endpoint that initiates an on-demand extraction to fetch the newest transactions for a User using the Transactions bundle. This bundle refreshes only the Transactions product data. This endpoint is for clients who use the Transactions Insights bundle and want to proactively update all linked Items under a user. The refresh may succeed or fail on a per-Item basis. Use the `results` array in the response to understand the outcome for each Item.  This endpoint is distinct from `/transactions/refresh`, which triggers a refresh for a single Item. Use `/user/transactions/refresh` to target all Items for a user instead.
    async fn user_transactions_refresh<'user_transactions_refresh_request>(&self, user_transactions_refresh_request: models::UserTransactionsRefreshRequest) -> Result<models::UserTransactionsRefreshResponse, Error<UserTransactionsRefreshError>>;

    /// POST /user/update
    ///
    /// This endpoint updates user information for an existing `user_id` or `user_token`. If an existing `user_id` or `user_token` is missing fields required for a given use case (e.g. creating a Consumer Report) use `/user/update` to add values for those fields.  Identity updates use merge semantics: provided fields overwrite existing ones; omitted fields remain unchanged.
    async fn user_update<'user_update_request, 'plaid_new_user_api_enabled>(&self, user_update_request: models::UserUpdateRequest, plaid_new_user_api_enabled: Option<bool>) -> Result<models::UserUpdateResponse, Error<UserUpdateError>>;

    /// POST /webhook_verification_key/get
    ///
    /// Plaid signs all outgoing webhooks and provides JSON Web Tokens (JWTs) so that you can verify the authenticity of any incoming webhooks to your application. A message signature is included in the `Plaid-Verification` header.  The `/webhook_verification_key/get` endpoint provides a JSON Web Key (JWK) that can be used to verify a JWT.
    async fn webhook_verification_key_get<'webhook_verification_key_get_request>(&self, webhook_verification_key_get_request: models::WebhookVerificationKeyGetRequest) -> Result<models::WebhookVerificationKeyGetResponse, Error<WebhookVerificationKeyGetError>>;
}

pub struct PlaidApiClient {
    configuration: Arc<configuration::Configuration>
}

impl PlaidApiClient {
    pub fn new(configuration: Arc<configuration::Configuration>) -> Self {
        Self { configuration }
    }
}



#[async_trait]
impl PlaidApi for PlaidApiClient {
    /// The `/accounts/balance/get` endpoint returns the real-time balance for each of an Item's accounts. While other endpoints, such as `/accounts/get`, return a balance object,  `/accounts/balance/get` forces the available and current balance fields to be refreshed rather than cached. This endpoint can be used for existing Items that were added via any of Plaid’s other products. This endpoint can be used as long as Link has been initialized with any other product, `balance` itself is not a product that can be used to initialize Link. As this endpoint triggers a synchronous request for fresh data, latency may be higher than for other Plaid endpoints (typically less than 10 seconds, but occasionally up to 30 seconds or more); if you encounter errors, you may find it necessary to adjust your timeout period when making requests.  Note: If you are getting real-time balance for the purpose of assessing the return risk of a proposed ACH transaction, it is recommended to use `/signal/evaluate` instead of `/accounts/balance/get`. `/signal/evaluate` returns the same real-time balance information and also provides access to Signal Rules, which provides no-code transaction business logic configuration, backtesting and recommendations for tuning your transaction acceptance logic, and the ability to easily switch between Balance and Signal Transaction Scores as needed for ultra-low-latency, ML-powered risk assessments. For more details, see the [Balance documentation](/docs/balance/#balance-integration-options).
    async fn accounts_balance_get<'accounts_balance_get_request>(&self, accounts_balance_get_request: models::AccountsBalanceGetRequest) -> Result<models::AccountsGetResponse, Error<AccountsBalanceGetError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/accounts/balance/get", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("PLAID-CLIENT-ID", local_var_value);
        };
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("Plaid-Version", local_var_value);
        };
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("PLAID-SECRET", local_var_value);
        };
        local_var_req_builder = local_var_req_builder.json(&accounts_balance_get_request);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::AccountsGetResponse`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::AccountsGetResponse`")))),
            }
        } else {
            let local_var_entity: Option<AccountsBalanceGetError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// The `/accounts/get` endpoint can be used to retrieve a list of accounts associated with any linked Item. Plaid will only return active bank accounts — that is, accounts that are not closed and are capable of carrying a balance. To return new accounts that were created after the user linked their Item, you can listen for the [`NEW_ACCOUNTS_AVAILABLE`](https://plaid.com/docs/api/items/#new_accounts_available) webhook and then use Link's [update mode](https://plaid.com/docs/link/update-mode/) to request that the user share this new account with you.  `/accounts/get` is free to use and retrieves cached information, rather than extracting fresh information from the institution. The balance returned will reflect the balance at the time of the last successful Item update. If the Item is enabled for a regularly updating product, such as Transactions, Investments, or Liabilities, the balance will typically update about once a day, as long as the Item is healthy. If the Item is enabled only for products that do not frequently update, such as Auth or Identity, balance data may be much older.  For realtime balance information, use the paid endpoints `/accounts/balance/get` or `/signal/evaluate` instead.
    async fn accounts_get<'accounts_get_request>(&self, accounts_get_request: models::AccountsGetRequest) -> Result<models::AccountsGetResponse, Error<AccountsGetError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/accounts/get", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("PLAID-CLIENT-ID", local_var_value);
        };
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("Plaid-Version", local_var_value);
        };
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("PLAID-SECRET", local_var_value);
        };
        local_var_req_builder = local_var_req_builder.json(&accounts_get_request);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::AccountsGetResponse`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::AccountsGetResponse`")))),
            }
        } else {
            let local_var_entity: Option<AccountsGetError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Send a request to the `/categories/get` endpoint to get detailed information on legacy categories returned by Plaid. This endpoint does not require authentication.  All implementations are recommended to [use the newer `personal_finance_category` taxonomy](https://plaid.com/docs/transactions/pfc-migration/) instead of the legacy `category` taxonomy supported by this endpoint.
    async fn categories_get<'body>(&self, body: serde_json::Value) -> Result<models::CategoriesGetResponse, Error<CategoriesGetError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/categories/get", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        local_var_req_builder = local_var_req_builder.json(&body);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::CategoriesGetResponse`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::CategoriesGetResponse`")))),
            }
        } else {
            let local_var_entity: Option<CategoriesGetError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// The `/dashboard_user/get` endpoint provides details (such as email address) about a specific Dashboard user based on the `dashboard_user_id` field, which is returned in the `audit_trail` object of certain Monitor and Beacon endpoints. This can be used to identify the specific reviewer who performed a Dashboard action.
    async fn dashboard_user_get<'dashboard_user_get_request>(&self, dashboard_user_get_request: models::DashboardUserGetRequest) -> Result<models::DashboardUserGetResponse, Error<DashboardUserGetError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/dashboard_user/get", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("PLAID-CLIENT-ID", local_var_value);
        };
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("Plaid-Version", local_var_value);
        };
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("PLAID-SECRET", local_var_value);
        };
        local_var_req_builder = local_var_req_builder.json(&dashboard_user_get_request);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DashboardUserGetResponse`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::DashboardUserGetResponse`")))),
            }
        } else {
            let local_var_entity: Option<DashboardUserGetError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// The `/dashboard_user/list` endpoint provides details (such as email address) all Dashboard users associated with your account. This can use used to audit or track the list of reviewers for Monitor, Beacon, and Identity Verification products.
    async fn dashboard_user_list<'dashboard_user_list_request>(&self, dashboard_user_list_request: models::DashboardUserListRequest) -> Result<models::DashboardUserListResponse, Error<DashboardUserListError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/dashboard_user/list", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("PLAID-CLIENT-ID", local_var_value);
        };
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("Plaid-Version", local_var_value);
        };
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("PLAID-SECRET", local_var_value);
        };
        local_var_req_builder = local_var_req_builder.json(&dashboard_user_list_request);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DashboardUserListResponse`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::DashboardUserListResponse`")))),
            }
        } else {
            let local_var_entity: Option<DashboardUserListError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// `/employers/search` allows you the ability to search Plaid’s database of known employers, for use with Deposit Switch. You can use this endpoint to look up a user's employer in order to confirm that they are supported. Users with non-supported employers can then be routed out of the Deposit Switch flow.  The data in the employer database is currently limited. As the Deposit Switch and Income products progress through their respective beta periods, more employers are being regularly added. Because the employer database is frequently updated, we recommend that you do not cache or store data from this endpoint for more than a day.
    async fn employers_search<'employers_search_request>(&self, employers_search_request: models::EmployersSearchRequest) -> Result<models::EmployersSearchResponse, Error<EmployersSearchError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/employers/search", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("PLAID-CLIENT-ID", local_var_value);
        };
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("Plaid-Version", local_var_value);
        };
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("PLAID-SECRET", local_var_value);
        };
        local_var_req_builder = local_var_req_builder.json(&employers_search_request);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::EmployersSearchResponse`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::EmployersSearchResponse`")))),
            }
        } else {
            let local_var_entity: Option<EmployersSearchError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Returns a JSON response containing details on all financial institutions currently supported by Plaid. Because Plaid supports thousands of institutions, results are paginated.  If there is no overlap between an institution’s enabled products and a client’s enabled products, then the institution will be filtered out from the response. As a result, the number of institutions returned may not match the count specified in the call.
    async fn institutions_get<'institutions_get_request>(&self, institutions_get_request: models::InstitutionsGetRequest) -> Result<models::InstitutionsGetResponse, Error<InstitutionsGetError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/institutions/get", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("PLAID-CLIENT-ID", local_var_value);
        };
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("Plaid-Version", local_var_value);
        };
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("PLAID-SECRET", local_var_value);
        };
        local_var_req_builder = local_var_req_builder.json(&institutions_get_request);

        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let local_var_content = local_var_resp.text().await?;

        if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::InstitutionsGetResponse`"))),
                ContentType::Unsupported(local_var_unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{local_var_unknown_type}` content type response that cannot be converted to `models::InstitutionsGetResponse`")))),
            }
        } else {
            let local_var_entity: Option<InstitutionsGetError> = serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Returns a JSON response containing details on a specified financial institution currently supported by Plaid.  Versioning note: API versions 2019-05-29 and earlier allow use of the `public_key` parameter instead of the `client_id` and `secret` to authenticate to this endpoint. The `public_key` has been deprecated; all customers are encouraged to use `client_id` and `secret` instead. 
    async fn institutions_get_by_id<'institutions_get_by_id_request>(&self, institutions_get_by_id_request: models::InstitutionsGetByIdRequest) -> Result<models::InstitutionsGetByIdResponse, Error<InstitutionsGetByIdError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/institutions/get_by_id", local_var_configuration.base_path);
        let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
                Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
                None => local_var_key,
            };
            local_var_req_builder = local_var_req_builder.header("PLAID-CLIENT-ID", local_var_value);
        };
        if let Some(ref local_var_apikey) = local_var_configuration.api_key {
            let local_var_key = local_var_apikey.key.clone();
            let local_var_value = match local_var_apikey.prefix {
[...]
