/*
 * The Plaid API
 *
 * The Plaid REST API. Please see https://plaid.com/docs/api for more details.
 *
 * The version of the OpenAPI document: 2020-09-14_1.688.6
 * 
 * Generated by: https://openapi-generator.tech
 */


use async_trait::async_trait;
#[cfg(feature = "mockall")]
use mockall::automock;
use reqwest;
use std::sync::Arc;
use serde::{Deserialize, Serialize, de::Error as _};
use crate::{apis::ResponseContent, models};
use super::{Error, configuration};
use crate::apis::ContentType;

#[cfg_attr(feature = "mockall", automock)]
#[async_trait]
pub trait PlaidApi: Send + Sync {

    /// POST /accounts/balance/get
    ///
    /// The `/accounts/balance/get` endpoint returns the real-time balance for each of an Item's accounts. While other endpoints, such as `/accounts/get`, return a balance object,  `/accounts/balance/get` forces the available and current balance fields to be refreshed rather than cached. This endpoint can be used for existing Items that were added via any of Plaid’s other products. This endpoint can be used as long as Link has been initialized with any other product, `balance` itself is not a product that can be used to initialize Link. As this endpoint triggers a synchronous request for fresh data, latency may be higher than for other Plaid endpoints (typically less than 10 seconds, but occasionally up to 30 seconds or more); if you encounter errors, you may find it necessary to adjust your timeout period when making requests.  Note: If you are getting real-time balance for the purpose of assessing the return risk of a proposed ACH transaction, it is recommended to use `/signal/evaluate` instead of `/accounts/balance/get`. `/signal/evaluate` returns the same real-time balance information and also provides access to Signal Rules, which provides no-code transaction business logic configuration, backtesting and recommendations for tuning your transaction acceptance logic, and the ability to easily switch between Balance and Signal Transaction Scores as needed for ultra-low-latency, ML-powered risk assessments. For more details, see the [Balance documentation](/docs/balance/#balance-integration-options).
    async fn accounts_balance_get<'accounts_balance_get_request>(&self, accounts_balance_get_request: models::AccountsBalanceGetRequest) -> Result<models::AccountsGetResponse, Error<AccountsBalanceGetError>>;

    /// POST /accounts/get
    ///
    /// The `/accounts/get` endpoint can be used to retrieve a list of accounts associated with any linked Item. Plaid will only return active bank accounts — that is, accounts that are not closed and are capable of carrying a balance. To return new accounts that were created after the user linked their Item, you can listen for the [`NEW_ACCOUNTS_AVAILABLE`](https://plaid.com/docs/api/items/#new_accounts_available) webhook and then use Link's [update mode](https://plaid.com/docs/link/update-mode/) to request that the user share this new account with you.  `/accounts/get` is free to use and retrieves cached information, rather than extracting fresh information from the institution. The balance returned will reflect the balance at the time of the last successful Item update. If the Item is enabled for a regularly updating product, such as Transactions, Investments, or Liabilities, the balance will typically update about once a day, as long as the Item is healthy. If the Item is enabled only for products that do not frequently update, such as Auth or Identity, balance data may be much older.  For realtime balance information, use the paid endpoints `/accounts/balance/get` or `/signal/evaluate` instead.
    async fn accounts_get<'accounts_get_request>(&self, accounts_get_request: models::AccountsGetRequest) -> Result<models::AccountsGetResponse, Error<AccountsGetError>>;

    /// POST /application/get
    ///
    /// Allows financial institutions to retrieve information about Plaid clients for the purpose of building control-tower experiences
    async fn application_get<'application_get_request>(&self, application_get_request: models::ApplicationGetRequest) -> Result<models::ApplicationGetResponse, Error<ApplicationGetError>>;

    /// POST /asset_report/audit_copy/create
    ///
    /// Plaid can provide an Audit Copy of any Asset Report directly to a participating third party on your behalf. For example, Plaid can supply an Audit Copy directly to the GSEs on your behalf if you participate in Fannie Mae's Day 1 Certainty™ program or utilize Freddie Mac’s Loan Product Advisor® (LPA®) Asset and Income Modeler (AIM). An Audit Copy contains the same underlying data as the Asset Report.  To grant access to an Audit Copy, use the `/asset_report/audit_copy/create` endpoint to create an `audit_copy_token` and then pass that token to the third party who needs access. Each third party has its own `auditor_id`, for example `fannie_mae`. You’ll need to create a separate Audit Copy for each third party to whom you want to grant access to the Report.
    async fn asset_report_audit_copy_create<'asset_report_audit_copy_create_request>(&self, asset_report_audit_copy_create_request: models::AssetReportAuditCopyCreateRequest) -> Result<models::AssetReportAuditCopyCreateResponse, Error<AssetReportAuditCopyCreateError>>;

    /// POST /asset_report/audit_copy/get
    ///
    /// `/asset_report/audit_copy/get` allows auditors to get a copy of an Asset Report that was previously shared via the `/asset_report/audit_copy/create` endpoint.  The caller of `/asset_report/audit_copy/create` must provide the `audit_copy_token` to the auditor.  This token can then be used to call `/asset_report/audit_copy/get`.
    async fn asset_report_audit_copy_get<'asset_report_audit_copy_get_request>(&self, asset_report_audit_copy_get_request: models::AssetReportAuditCopyGetRequest) -> Result<models::AssetReportGetResponse, Error<AssetReportAuditCopyGetError>>;

    /// POST /asset_report/audit_copy/pdf/get
    ///
    /// The `/asset_report/audit_copy/pdf/get` endpoint retrieves an Asset Report Audit Copy in PDF format. The caller must provide the `audit_copy_token` that was shared via the `/asset_report/audit_copy/create` endpoint.  The response to `/asset_report/audit_copy/pdf/get` is the PDF binary data. The `request_id` is returned in the `Plaid-Request-ID` header.  [View a sample PDF Asset Report](https://plaid.com/documents/sample-asset-report.pdf).
    async fn asset_report_audit_copy_pdf_get<'asset_report_audit_copy_pdf_get_request>(&self, asset_report_audit_copy_pdf_get_request: models::AssetReportAuditCopyPdfGetRequest) -> Result<std::path::PathBuf, Error<AssetReportAuditCopyPdfGetError>>;

    /// POST /asset_report/audit_copy/remove
    ///
    /// The `/asset_report/audit_copy/remove` endpoint allows you to remove an Audit Copy. Removing an Audit Copy invalidates the `audit_copy_token` associated with it, meaning both you and any third parties holding the token will no longer be able to use it to access Report data. Items associated with the Asset Report, the Asset Report itself and other Audit Copies of it are not affected and will remain accessible after removing the given Audit Copy.
    async fn asset_report_audit_copy_remove<'asset_report_audit_copy_remove_request>(&self, asset_report_audit_copy_remove_request: models::AssetReportAuditCopyRemoveRequest) -> Result<models::AssetReportAuditCopyRemoveResponse, Error<AssetReportAuditCopyRemoveError>>;

    /// POST /asset_report/create
    ///
    /// The `/asset_report/create` endpoint initiates the process of creating an Asset Report, which can then be retrieved by passing the `asset_report_token` return value to the `/asset_report/get` or `/asset_report/pdf/get` endpoints.  The Asset Report takes some time to be created and is not available immediately after calling `/asset_report/create`. The exact amount of time to create the report will vary depending on how many days of history are requested and will typically range from a few seconds to about one minute. When the Asset Report is ready to be retrieved using `/asset_report/get` or `/asset_report/pdf/get`, Plaid will fire a `PRODUCT_READY` webhook. For full details of the webhook schema, see [Asset Report webhooks](https://plaid.com/docs/api/products/assets/#webhooks).  The `/asset_report/create` endpoint creates an Asset Report at a moment in time. Asset Reports are immutable. To get an updated Asset Report, use the `/asset_report/refresh` endpoint.
    async fn asset_report_create<'asset_report_create_request>(&self, asset_report_create_request: models::AssetReportCreateRequest) -> Result<models::AssetReportCreateResponse, Error<AssetReportCreateError>>;

    /// POST /asset_report/filter
    ///
    /// By default, an Asset Report will contain all of the accounts on a given Item. In some cases, you may not want the Asset Report to contain all accounts. For example, you might have the end user choose which accounts are relevant in Link using the Account Select view, which you can enable in the dashboard. Or, you might always exclude certain account types or subtypes, which you can identify by using the `/accounts/get` endpoint. To narrow an Asset Report to only a subset of accounts, use the `/asset_report/filter` endpoint.  To exclude certain Accounts from an Asset Report, first use the `/asset_report/create` endpoint to create the report, then send the `asset_report_token` along with a list of `account_ids` to exclude to the `/asset_report/filter` endpoint, to create a new Asset Report which contains only a subset of the original Asset Report's data.  Because Asset Reports are immutable, calling `/asset_report/filter` does not alter the original Asset Report in any way; rather, `/asset_report/filter` creates a new Asset Report with a new token and id. Asset Reports created via `/asset_report/filter` do not contain new Asset data, and are not billed.  Plaid will fire a [`PRODUCT_READY`](https://plaid.com/docs/api/products/assets/#product_ready) webhook once generation of the filtered Asset Report has completed.
    async fn asset_report_filter<'asset_report_filter_request>(&self, asset_report_filter_request: models::AssetReportFilterRequest) -> Result<models::AssetReportFilterResponse, Error<AssetReportFilterError>>;

    /// POST /asset_report/get
    ///
    /// The `/asset_report/get` endpoint retrieves the Asset Report in JSON format. Before calling `/asset_report/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the [`PRODUCT_READY`](https://plaid.com/docs/api/products/assets/#product_ready) webhook to fire, indicating that the Report is ready to be retrieved.  By default, an Asset Report includes transaction descriptions as returned by the bank, as opposed to parsed and categorized by Plaid. You can also receive cleaned and categorized transactions, as well as additional insights like merchant name or location information. We call this an Asset Report with Insights. An Asset Report with Insights provides transaction category, location, and merchant information in addition to the transaction strings provided in a standard Asset Report. To retrieve an Asset Report with Insights, call `/asset_report/get` endpoint with `include_insights` set to `true`.  For latency-sensitive applications, you can optionally call `/asset_report/create` with `options.add_ons` set to `[\"fast_assets\"]`. This will cause Plaid to create two versions of the Asset Report: one with only current and available balance and identity information, and then later on the complete Asset Report. You will receive separate webhooks for each version of the Asset Report.
    async fn asset_report_get<'asset_report_get_request>(&self, asset_report_get_request: models::AssetReportGetRequest) -> Result<models::AssetReportGetResponse, Error<AssetReportGetError>>;

    /// POST /asset_report/pdf/get
    ///
    /// The `/asset_report/pdf/get` endpoint retrieves the Asset Report in PDF format. Before calling `/asset_report/pdf/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the [`PRODUCT_READY`](https://plaid.com/docs/api/products/assets/#product_ready) webhook to fire, indicating that the Report is ready to be retrieved.  The response to `/asset_report/pdf/get` is the PDF binary data. The `request_id`  is returned in the `Plaid-Request-ID` header.  [View a sample PDF Asset Report](https://plaid.com/documents/sample-asset-report.pdf).
    async fn asset_report_pdf_get<'asset_report_pdf_get_request>(&self, asset_report_pdf_get_request: models::AssetReportPdfGetRequest) -> Result<std::path::PathBuf, Error<AssetReportPdfGetError>>;

    /// POST /asset_report/refresh
    ///
    /// An Asset Report is an immutable snapshot of a user's assets. In order to \"refresh\" an Asset Report you created previously, you can use the `/asset_report/refresh` endpoint to create a new Asset Report based on the old one, but with the most recent data available.  The new Asset Report will contain the same Items as the original Report, as well as the same filters applied by any call to `/asset_report/filter`. By default, the new Asset Report will also use the same parameters you submitted with your original `/asset_report/create` request, but the original `days_requested` value and the values of any parameters in the `options` object can be overridden with new values. To change these arguments, simply supply new values for them in your request to `/asset_report/refresh`. Submit an empty string (\"\") for any previously-populated fields you would like set as empty.
    async fn asset_report_refresh<'asset_report_refresh_request>(&self, asset_report_refresh_request: models::AssetReportRefreshRequest) -> Result<models::AssetReportRefreshResponse, Error<AssetReportRefreshError>>;

    /// POST /asset_report/remove
    ///
    /// The `/item/remove` endpoint allows you to invalidate an `access_token`, meaning you will not be able to create new Asset Reports with it. Removing an Item does not affect any Asset Reports or Audit Copies you have already created, which will remain accessible until you remove them specifically.  The `/asset_report/remove` endpoint allows you to remove access to an Asset Report. Removing an Asset Report invalidates its `asset_report_token`, meaning you will no longer be able to use it to access Report data or create new Audit Copies. Removing an Asset Report does not affect the underlying Items, but does invalidate any `audit_copy_tokens` associated with the Asset Report.
    async fn asset_report_remove<'asset_report_remove_request>(&self, asset_report_remove_request: models::AssetReportRemoveRequest) -> Result<models::AssetReportRemoveResponse, Error<AssetReportRemoveError>>;

    /// POST /auth/get
    ///
    /// The `/auth/get` endpoint returns the bank account and bank identification numbers (such as routing numbers, for US accounts) associated with an Item's checking, savings, and cash management accounts, along with high-level account data and balances when available.  Versioning note: In API version 2017-03-08, the schema of the `numbers` object returned by this endpoint is substantially different. For details, see [Plaid API versioning](https://plaid.com/docs/api/versioning/#version-2018-05-22).
    async fn auth_get<'auth_get_request>(&self, auth_get_request: models::AuthGetRequest) -> Result<models::AuthGetResponse, Error<AuthGetError>>;

    /// POST /auth/verify
    ///
    /// The `/auth/verify` endpoint verifies bank account and routing numbers and (optionally) account owner names against Plaid's database via [Database Auth](https://plaid.com/docs/auth/coverage/database-auth/). It can be used to verify account numbers that were not collected via the Plaid Link flow.  This endpoint is currently in Early Availability; contact Sales or your Plaid account manager to request access.
    async fn auth_verify<'auth_verify_request>(&self, auth_verify_request: models::AuthVerifyRequest) -> Result<models::AuthVerifyResponse, Error<AuthVerifyError>>;

    /// POST /bank_transfer/balance/get
    ///
    /// Use the `/bank_transfer/balance/get` endpoint to see the available balance in your bank transfer account. Debit transfers increase this balance once their status is posted. Credit transfers decrease this balance when they are created.  The transactable balance shows the amount in your account that you are able to use for transfers, and is essentially your available balance minus your minimum balance.  Note that this endpoint can only be used with FBO accounts, when using Bank Transfers in the Full Service configuration. It cannot be used on your own account when using Bank Transfers in the BTS Platform configuration.
    async fn bank_transfer_balance_get<'bank_transfer_balance_get_request>(&self, bank_transfer_balance_get_request: models::BankTransferBalanceGetRequest) -> Result<models::BankTransferBalanceGetResponse, Error<BankTransferBalanceGetError>>;

    /// POST /bank_transfer/cancel
    ///
    /// Use the `/bank_transfer/cancel` endpoint to cancel a bank transfer.  A transfer is eligible for cancelation if the `cancellable` property returned by `/bank_transfer/get` is `true`.
    async fn bank_transfer_cancel<'bank_transfer_cancel_request>(&self, bank_transfer_cancel_request: models::BankTransferCancelRequest) -> Result<models::BankTransferCancelResponse, Error<BankTransferCancelError>>;

    /// POST /bank_transfer/create
    ///
    /// Use the `/bank_transfer/create` endpoint to initiate a new bank transfer.
    async fn bank_transfer_create<'bank_transfer_create_request>(&self, bank_transfer_create_request: models::BankTransferCreateRequest) -> Result<models::BankTransferCreateResponse, Error<BankTransferCreateError>>;

    /// POST /bank_transfer/event/list
    ///
    /// Use the `/bank_transfer/event/list` endpoint to get a list of Plaid-initiated ACH or bank transfer events based on specified filter criteria. When using Auth with micro-deposit verification enabled, this endpoint can be used to fetch status updates on ACH micro-deposits. For more details, see [micro-deposit events](https://plaid.com/docs/auth/coverage/microdeposit-events/).
    async fn bank_transfer_event_list<'bank_transfer_event_list_request>(&self, bank_transfer_event_list_request: models::BankTransferEventListRequest) -> Result<models::BankTransferEventListResponse, Error<BankTransferEventListError>>;

    /// POST /bank_transfer/event/sync
    ///
    /// `/bank_transfer/event/sync` allows you to request up to the next 25 Plaid-initiated bank transfer events that happened after a specific `event_id`. When using Auth with micro-deposit verification enabled, this endpoint can be used to fetch status updates on ACH micro-deposits. For more details, see [micro-deposit events](https://plaid.com/docs/auth/coverage/microdeposit-events/).
    async fn bank_transfer_event_sync<'bank_transfer_event_sync_request>(&self, bank_transfer_event_sync_request: models::BankTransferEventSyncRequest) -> Result<models::BankTransferEventSyncResponse, Error<BankTransferEventSyncError>>;

    /// POST /bank_transfer/get
    ///
    /// The `/bank_transfer/get` fetches information about the bank transfer corresponding to the given `bank_transfer_id`.
    async fn bank_transfer_get<'bank_transfer_get_request>(&self, bank_transfer_get_request: models::BankTransferGetRequest) -> Result<models::BankTransferGetResponse, Error<BankTransferGetError>>;

    /// POST /bank_transfer/list
    ///
    /// Use the `/bank_transfer/list` endpoint to see a list of all your bank transfers and their statuses. Results are paginated; use the `count` and `offset` query parameters to retrieve the desired bank transfers. 
    async fn bank_transfer_list<'bank_transfer_list_request>(&self, bank_transfer_list_request: models::BankTransferListRequest) -> Result<models::BankTransferListResponse, Error<BankTransferListError>>;

    /// POST /bank_transfer/migrate_account
    ///
    /// As an alternative to adding Items via Link, you can also use the `/bank_transfer/migrate_account` endpoint to migrate known account and routing numbers to Plaid Items.  Note that Items created in this way are not compatible with endpoints for other products, such as `/accounts/balance/get`, and can only be used with Bank Transfer endpoints.  If you require access to other endpoints, create the Item through Link instead.  Access to `/bank_transfer/migrate_account` is not enabled by default; to obtain access, contact your Plaid Account Manager.
    async fn bank_transfer_migrate_account<'bank_transfer_migrate_account_request>(&self, bank_transfer_migrate_account_request: models::BankTransferMigrateAccountRequest) -> Result<models::BankTransferMigrateAccountResponse, Error<BankTransferMigrateAccountError>>;

    /// POST /bank_transfer/sweep/get
    ///
    /// The `/bank_transfer/sweep/get` endpoint fetches information about the sweep corresponding to the given `sweep_id`.
    async fn bank_transfer_sweep_get<'bank_transfer_sweep_get_request>(&self, bank_transfer_sweep_get_request: models::BankTransferSweepGetRequest) -> Result<models::BankTransferSweepGetResponse, Error<BankTransferSweepGetError>>;

    /// POST /bank_transfer/sweep/list
    ///
    /// The `/bank_transfer/sweep/list` endpoint fetches information about the sweeps matching the given filters.
    async fn bank_transfer_sweep_list<'bank_transfer_sweep_list_request>(&self, bank_transfer_sweep_list_request: models::BankTransferSweepListRequest) -> Result<models::BankTransferSweepListResponse, Error<BankTransferSweepListError>>;

    /// POST /beacon/account_risk/v1/evaluate
    ///
    /// Use `/beacon/account_risk/v1/evaluate` to get risk insights for a linked account.
    async fn beacon_account_risk_evaluate<'beacon_account_risk_evaluate_request>(&self, beacon_account_risk_evaluate_request: models::BeaconAccountRiskEvaluateRequest) -> Result<models::BeaconAccountRiskEvaluateResponse, Error<BeaconAccountRiskEvaluateError>>;

    /// POST /beacon/duplicate/get
    ///
    /// Returns a Beacon Duplicate for a given Beacon Duplicate id.  A Beacon Duplicate represents a pair of similar Beacon Users within your organization.  Two Beacon User revisions are returned for each Duplicate record in either the `beacon_user1` or `beacon_user2` response fields.  The `analysis` field in the response indicates which fields matched between `beacon_user1` and `beacon_user2`. 
    async fn beacon_duplicate_get<'beacon_duplicate_get_request>(&self, beacon_duplicate_get_request: models::BeaconDuplicateGetRequest) -> Result<models::BeaconDuplicateGetResponse, Error<BeaconDuplicateGetError>>;

    /// POST /beacon/report/create
    ///
    /// Create a fraud report for a given Beacon User.
    async fn beacon_report_create<'beacon_report_create_request>(&self, beacon_report_create_request: models::BeaconReportCreateRequest) -> Result<models::BeaconReportCreateResponse, Error<BeaconReportCreateError>>;

    /// POST /beacon/report/get
    ///
    /// Returns a Beacon report for a given Beacon report id.
    async fn beacon_report_get<'beacon_report_get_request>(&self, beacon_report_get_request: models::BeaconReportGetRequest) -> Result<models::BeaconReportGetResponse, Error<BeaconReportGetError>>;

    /// POST /beacon/report/list
    ///
    /// Use the `/beacon/report/list` endpoint to view all Beacon Reports you created for a specific Beacon User. The reports returned by this endpoint are exclusively reports you created for a specific user. A Beacon User can only have one active report at a time, but a new report can be created if a previous report has been deleted. The results from this endpoint are paginated; the `next_cursor` field will be populated if there is another page of results that can be retrieved. To fetch the next page, pass the `next_cursor` value as the `cursor` parameter in the next request.
    async fn beacon_report_list<'beacon_report_list_request>(&self, beacon_report_list_request: models::BeaconReportListRequest) -> Result<models::BeaconReportListResponse, Error<BeaconReportListError>>;

    /// POST /beacon/report_syndication/get
    ///
    /// Returns a Beacon Report Syndication for a given Beacon Report Syndication id.
    async fn beacon_report_syndication_get<'beacon_report_syndication_get_request>(&self, beacon_report_syndication_get_request: models::BeaconReportSyndicationGetRequest) -> Result<models::BeaconReportSyndicationGetResponse, Error<BeaconReportSyndicationGetError>>;

    /// POST /beacon/report_syndication/list
    ///
    /// Use the `/beacon/report_syndication/list` endpoint to view all Beacon Reports that have been syndicated to a specific Beacon User. This endpoint returns Beacon Report Syndications which are references to Beacon Reports created either by you, or another Beacon customer, that matched the specified Beacon User. A Beacon User can have multiple active Beacon Report Syndications at once. The results from this endpoint are paginated; the `next_cursor` field will be populated if there is another page of results that can be retrieved. To fetch the next page, pass the `next_cursor` value as the `cursor` parameter in the next request.
    async fn beacon_report_syndication_list<'beacon_report_syndication_list_request>(&self, beacon_report_syndication_list_request: models::BeaconReportSyndicationListRequest) -> Result<models::BeaconReportSyndicationListResponse, Error<BeaconReportSyndicationListError>>;

    /// POST /beacon/user/account_insights/get
    ///
    /// Get Account Insights for all Accounts linked to this Beacon User. The insights for each account are computed based on the information that was last retrieved from the financial institution.
    async fn beacon_user_account_insights_get<'beacon_user_account_insights_get_request>(&self, beacon_user_account_insights_get_request: models::BeaconUserAccountInsightsGetRequest) -> Result<models::BeaconUserAccountInsightsGetResponse, Error<BeaconUserAccountInsightsGetError>>;

    /// POST /beacon/user/create
    ///
    /// Create and scan a Beacon User against your Beacon Program, according to your program's settings.  When you submit a new user to `/beacon/user/create`, several checks are performed immediately:    - The user's PII (provided within the `user` object) is searched against all other users within the Beacon Program you specified. If a match is found that violates your program's \"Duplicate Information Filtering\" settings, the user will be returned with a status of `pending_review`.    - The user's PII is also searched against all fraud reports created by your organization across all of your Beacon Programs. If the user's data matches a fraud report that your team created, the user will be returned with a status of `rejected`.    - Finally, the user's PII is searched against all fraud report shared with the Beacon Network by other companies. If a matching fraud report is found, the user will be returned with a `pending_review` status if your program has enabled automatic flagging based on network fraud.
    async fn beacon_user_create<'beacon_user_create_request>(&self, beacon_user_create_request: models::BeaconUserCreateRequest) -> Result<models::BeaconUserCreateResponse, Error<BeaconUserCreateError>>;

    /// POST /beacon/user/get
    ///
    /// Fetch a Beacon User.  The Beacon User is returned with all of their associated information and a `status` based on the Beacon Network duplicate record and fraud checks. 
    async fn beacon_user_get<'beacon_user_get_request>(&self, beacon_user_get_request: models::BeaconUserGetRequest) -> Result<models::BeaconUserGetResponse, Error<BeaconUserGetError>>;

    /// POST /beacon/user/history/list
    ///
    /// List all changes to the Beacon User in reverse-chronological order.
    async fn beacon_user_history_list<'beacon_user_history_list_request>(&self, beacon_user_history_list_request: models::BeaconUserHistoryListRequest) -> Result<models::BeaconUserHistoryListResponse, Error<BeaconUserHistoryListError>>;

    /// POST /beacon/user/review
    ///
    /// Update the status of a Beacon User.  When updating a Beacon User's status via this endpoint, Plaid validates that the status change is consistent with the related state for this Beacon User. Specifically, we will check:  1. Whether there are any associated Beacon Reports connected to the Beacon User, and 2. Whether there are any confirmed Beacon Report Syndications connected to the Beacon User.  When updating a Beacon User's status to `rejected`, we enforce that either a Beacon Report has been created for the Beacon User or a Beacon Report Syndication has been confirmed. When updating a Beacon User's status to `cleared`, we enforce that there are no active Beacon Reports or confirmed Beacon Report Syndications associated with the user. If you previously created a Beacon Report for this user, you must delete it before updating the Beacon User's status to `cleared`. There are no restrictions on updating a Beacon User's status to `pending_review`.  If these conditions are not met, the request will be rejected with an error explaining the issue.
    async fn beacon_user_review<'beacon_user_review_request>(&self, beacon_user_review_request: models::BeaconUserReviewRequest) -> Result<models::BeaconUserGetResponse, Error<BeaconUserReviewError>>;

    /// POST /beacon/user/update
    ///
    /// Update the identity data for a Beacon User in your Beacon Program or add new accounts to the Beacon User.  Similar to `/beacon/user/create`, several checks are performed immediately when you submit an identity data change to `/beacon/user/update`:    - The user's updated PII is searched against all other users within the Beacon Program you specified. If a match is found that violates your program's \"Duplicate Information Filtering\" settings, the user will be returned with a status of `pending_review`.    - The user's updated PII is also searched against all fraud reports created by your organization across all of your Beacon Programs. If the user's data matches a fraud report that your team created, the user will be returned with a status of `rejected`.    - Finally, the user's PII is searched against all fraud report shared with the Beacon Network by other companies. If a matching fraud report is found, the user will be returned with a `pending_review` status if your program has enabled automatic flagging based on network fraud.  Plaid maintains a version history for each Beacon User, so the Beacon User's identity data before and after the update is retained as separate versions.
    async fn beacon_user_update<'beacon_user_update_request>(&self, beacon_user_update_request: models::BeaconUserUpdateRequest) -> Result<models::BeaconUserUpdateResponse, Error<BeaconUserUpdateError>>;

    /// POST /beta/ewa_report/v1/get
    ///
    /// The `/beta/ewa_report/v1/get` endpoint provides an Earned Wage Access (EWA) score that quantifies the delinquency risk associated with a given item. The score is derived from a combination of cashflow patterns and network-based behavioral features.  The response returns a list of EWA scores, where each score corresponds to a potential advance amount range. These scores estimate the likelihood of repayment for advances within that range.  Score range: 1–99  Interpretation: Higher scores indicate a greater likelihood of repayment.  This endpoint enables clients to assess repayment risk and make data-driven decisions when determining eligibility or limits for earned wage advances.
    async fn beta_ewa_report_v1_get<'beta_ewa_report_v1_get_request>(&self, beta_ewa_report_v1_get_request: models::BetaEwaReportV1GetRequest) -> Result<models::BetaEwaReportV1GetResponse, Error<BetaEwaReportV1GetError>>;

    /// POST /beta/partner/customer/v1/create
    ///
    /// The `/beta/partner/customer/v1/create` endpoint creates a new end customer record. You can provide as much information as you have available. If any required information is missing for the products you intend to use, it will be listed in the `requirements_due` field of the response.
    async fn beta_partner_customer_v1_create<'beta_partner_customer_v1_create_request>(&self, beta_partner_customer_v1_create_request: models::BetaPartnerCustomerV1CreateRequest) -> Result<models::BetaPartnerCustomerV1CreateResponse, Error<BetaPartnerCustomerV1CreateError>>;

    /// POST /beta/partner/customer/v1/enable
    ///
    /// The `/beta/partner/customer/v1/enable` endpoint is used by reseller partners to enable an end customer in the full Production environment.
    async fn beta_partner_customer_v1_enable<'beta_partner_customer_v1_enable_request>(&self, beta_partner_customer_v1_enable_request: models::BetaPartnerCustomerV1EnableRequest) -> Result<models::BetaPartnerCustomerV1EnableResponse, Error<BetaPartnerCustomerV1EnableError>>;

    /// POST /beta/partner/customer/v1/get
    ///
    /// The `/beta/partner/customer/v1/get` endpoint is used by reseller partners to retrieve data about a single end customer.
    async fn beta_partner_customer_v1_get<'beta_partner_customer_v1_get_request>(&self, beta_partner_customer_v1_get_request: models::BetaPartnerCustomerV1GetRequest) -> Result<models::BetaPartnerCustomerV1GetResponse, Error<BetaPartnerCustomerV1GetError>>;

    /// POST /beta/partner/customer/v1/update
    ///
    /// The `/beta/partner/customer/v1/update` endpoint updates an existing end customer record.
    async fn beta_partner_customer_v1_update<'beta_partner_customer_v1_update_request>(&self, beta_partner_customer_v1_update_request: models::BetaPartnerCustomerV1UpdateRequest) -> Result<models::BetaPartnerCustomerV1UpdateResponse, Error<BetaPartnerCustomerV1UpdateError>>;

    /// POST /business_verification/create
    ///
    /// Create a new business verification to check a business's identity and risk profile.
    async fn business_verification_create<'business_verification_create_request>(&self, business_verification_create_request: models::BusinessVerificationCreateRequest) -> Result<models::BusinessVerificationCreateResponse, Error<BusinessVerificationCreateError>>;

    /// POST /business_verification/get
    ///
    /// Retrieve the current state of a specific business verification.
    async fn business_verification_get<'business_verification_get_request>(&self, business_verification_get_request: models::BusinessVerificationGetRequest) -> Result<models::BusinessVerificationGetResponse, Error<BusinessVerificationGetError>>;

    /// POST /cashflow_report/get
    ///
    /// The `/cashflow_report/get` endpoint retrieves transactions data associated with an item. Transactions data is standardized across financial institutions. Transactions are returned in reverse-chronological order, and the sequence of transaction ordering is stable and will not shift. Transactions are not immutable and can also be removed altogether by the institution; a removed transaction will no longer appear in `/transactions/get`.  For more details, see [Pending and posted transactions](https://plaid.com/docs/transactions/transactions-data/#pending-and-posted-transactions). Due to the potentially large number of transactions associated with an Item, results are paginated. Manipulate the `count` and `cursor` parameters in conjunction with the `has_more` response body field to fetch all available transactions. Note that data isn't likely to be immediately available to `/cashflow_report/get`. Plaid will begin to prepare transactions data upon Item link, if Link was initialized with `cashflow_report`, or if it wasn't, upon the first call to `/cashflow_report/refresh`. To be alerted when transaction data is ready to be fetched, listen for the `CASHFLOW_REPORT_READY` webhook.
    async fn cashflow_report_get<'cashflow_report_get_request>(&self, cashflow_report_get_request: models::CashflowReportGetRequest) -> Result<models::CashflowReportGetResponse, Error<CashflowReportGetError>>;

    /// POST /cashflow_report/insights/get
    ///
    /// The `/cashflow_report/insights/get` endpoint retrieves insights data associated with an item. Insights are only calculated on credit and depository accounts.
    async fn cashflow_report_insights_get<'cashflow_report_insights_get_request>(&self, cashflow_report_insights_get_request: models::CashflowReportInsightsGetRequest) -> Result<models::CashflowReportInsightsGetResponse, Error<CashflowReportInsightsGetError>>;

    /// POST /cashflow_report/refresh
    ///
    /// `/cashflow_report/refresh` is an endpoint that initiates an on-demand extraction to fetch the newest transactions for an item (given an `item_id`). The item must already have Cashflow Report added as a product in order to call `/cashflow_report/refresh`.  After calling `/cashflow_report/refresh`, Plaid will fire a webhook `CASHFLOW_REPORT_READY` alerting clients that new transactions data can then be ingested via `/cashflow_report/get` or the webhook will contain an error code informing there was an error in refreshing transactions data.  Note that the `/cashflow_report/refresh` endpoint is not supported for Capital One (`ins_128026`) non-depository accounts and will result in a `PRODUCTS_NOT_SUPPORTED` error if called on an Item that contains only non-depository accounts from that institution.  As this endpoint triggers a synchronous request for fresh data, latency may be higher than for other Plaid endpoints (typically less than 10 seconds, but up to 30 seconds or more). If you encounter errors, you may find it necessary to adjust your timeout period for requests.
    async fn cashflow_report_refresh<'cashflow_report_refresh_request>(&self, cashflow_report_refresh_request: models::CashflowReportRefreshRequest) -> Result<models::CashflowReportRefreshResponse, Error<CashflowReportRefreshError>>;

    /// POST /cashflow_report/transactions/get
    ///
    /// The `/cashflow_report/transactions/get` endpoint retrieves transactions data associated with an item. Transactions data is standardized across financial institutions. Transactions are returned in reverse-chronological order, and the sequence of transaction ordering is stable and will not shift. Transactions are not immutable and can also be removed altogether by the institution; a removed transaction will no longer appear in `/transactions/get`.  For more details, see [Pending and posted transactions](https://plaid.com/docs/transactions/transactions-data/#pending-and-posted-transactions). Due to the potentially large number of transactions associated with an Item, results are paginated. Manipulate the `count` and `cursor` parameters in conjunction with the `has_more` response body field to fetch all available transactions. Note that data isn't likely to be immediately available to `/cashflow_report/transactions/get`. Plaid will begin to prepare transactions data upon Item link, if Link was initialized with `cashflow_report`, or if it wasn't, upon the first call to `/cashflow_report/refresh`. To be alerted when transaction data is ready to be fetched, listen for the `CASHFLOW_REPORT_READY` webhook.
    async fn cashflow_report_transactions_get<'cashflow_report_transactions_get_request>(&self, cashflow_report_transactions_get_request: models::CashflowReportTransactionsGetRequest) -> Result<models::CashflowReportTransactionsGetResponse, Error<CashflowReportTransactionsGetError>>;

    /// POST /categories/get
    ///
    /// Send a request to the `/categories/get` endpoint to get detailed information on legacy categories returned by Plaid. This endpoint does not require authentication.  All implementations are recommended to [use the newer `personal_finance_category` taxonomy](https://plaid.com/docs/transactions/pfc-migration/) instead of the legacy `category` taxonomy supported by this endpoint.
    async fn categories_get<'body>(&self, body: serde_json::Value) -> Result<models::CategoriesGetResponse, Error<CategoriesGetError>>;

    /// POST /consent/events/get
    ///
    /// List a historical log of Item consent events. Consent logs are only available for events occurring on or after November 7, 2024. Extremely recent events (occurring within the past 12 hours) may not be available via this endpoint. Up to three years of consent logs will be available via the endpoint.
    async fn consent_events_get<'consent_events_get_request>(&self, consent_events_get_request: models::ConsentEventsGetRequest) -> Result<models::ConsentEventsGetResponse, Error<ConsentEventsGetError>>;

    /// POST /consumer_report/pdf/get
    ///
    /// Retrieves all existing CRB Bank Income and Base reports for the consumer in PDF format.  Response is PDF binary data. The `request_id` is returned in the `Plaid-Request-ID` header.
    async fn consumer_report_pdf_get<'consumer_report_pdf_get_request>(&self, consumer_report_pdf_get_request: models::ConsumerReportPdfGetRequest) -> Result<std::path::PathBuf, Error<ConsumerReportPdfGetError>>;

    /// POST /cra/check_report/base_report/get
    ///
    /// This endpoint allows you to retrieve the Base Report for your user, allowing you to receive comprehensive bank account and cash flow data. You should call this endpoint after you've received a `CHECK_REPORT_READY` or a `USER_CHECK_REPORT_READY` webhook, either after the Link session for the user or after calling `/cra/check_report/create`. If the most recent consumer report for the user doesn't have sufficient data to generate the base report, or the consumer report has expired, you will receive an error indicating that you should create a new consumer report by calling `/cra/check_report/create`.
    async fn cra_check_report_base_report_get<'cra_check_report_base_report_get_request>(&self, cra_check_report_base_report_get_request: models::CraCheckReportBaseReportGetRequest) -> Result<models::CraCheckReportBaseReportGetResponse, Error<CraCheckReportBaseReportGetError>>;

    /// POST /cra/check_report/cashflow_insights/get
    ///
    /// This endpoint allows you to retrieve the Cashflow Insights report for your user. You should call this endpoint after you've received a `CHECK_REPORT_READY` or a `USER_CHECK_REPORT_READY` webhook, either after the Link session for the user or after calling `/cra/check_report/create`. If the most recent consumer report for the user doesn’t have sufficient data to generate the insights, or the consumer report has expired, you will receive an error indicating that you should create a new consumer report by calling `/cra/check_report/create`.  If you did not initialize Link with the `cra_cashflow_insights` product or have generated a report using `/cra/check_report/create`, we will generate the insights when you call this endpoint. In this case, you may optionally provide parameters under `options` to configure which insights you want to receive.
    async fn cra_check_report_cashflow_insights_get<'cra_check_report_cashflow_insights_get_request>(&self, cra_check_report_cashflow_insights_get_request: models::CraCheckReportCashflowInsightsGetRequest) -> Result<models::CraCheckReportCashflowInsightsGetResponse, Error<CraCheckReportCashflowInsightsGetError>>;

    /// POST /cra/check_report/create
    ///
    /// Use `/cra/check_report/create` to refresh data in an existing report. A Consumer Report will last for 24 hours before expiring; you should call any `/get` endpoints on the report before it expires. If a report expires, you can call `/cra/check_report/create` again to re-generate it and refresh the data in the report.
    async fn cra_check_report_create<'cra_check_report_create_request>(&self, cra_check_report_create_request: models::CraCheckReportCreateRequest) -> Result<models::CraCheckReportCreateResponse, Error<CraCheckReportCreateError>>;

    /// POST /cra/check_report/income_insights/get
    ///
    /// This endpoint allows you to retrieve the Income Insights report for your user. You should call this endpoint after you’ve received a `CHECK_REPORT_READY` or a `USER_CHECK_REPORT_READY` webhook, either after the Link session for the user or after calling `/cra/check_report/create`. If the most recent consumer report for the user doesn’t have sufficient data to generate the base report, or the consumer report has expired, you will receive an error indicating that you should create a new consumer report by calling `/cra/check_report/create`.  NOTE: The following schema was updated in April 2026 to reflect the response when the provided version is \"II2\". Please see [this document](https://docs.google.com/document/d/1kQkQ7FOgFaC4n-sUGUk74hoXZNY_L_nJeCuMe7Keip4/edit?tab=t.0#heading=h.rudamzinus2i) for guidance on migrating to II2 if you are currently using the II1 version, and [this section](https://docs.google.com/document/d/1kQkQ7FOgFaC4n-sUGUk74hoXZNY_L_nJeCuMe7Keip4/edit?tab=t.0#bookmark=id.tdcc2wpk0h60) for an example II1 response along with its [documentation](https://docs.google.com/document/d/1kQkQ7FOgFaC4n-sUGUk74hoXZNY_L_nJeCuMe7Keip4/edit?tab=t.36c85n2ircqk#heading=h.79dwr5c1iszl).
    async fn cra_check_report_income_insights_get<'cra_check_report_income_insights_get_request>(&self, cra_check_report_income_insights_get_request: models::CraCheckReportIncomeInsightsGetRequest) -> Result<models::CraCheckReportIncomeInsightsGetResponse, Error<CraCheckReportIncomeInsightsGetError>>;

    /// POST /cra/check_report/lend_score/get
    ///
    /// This endpoint allows you to retrieve the LendScore report for your user. You should call this endpoint after you've received a `CHECK_REPORT_READY` or a `USER_CHECK_REPORT_READY` webhook, either after the Link session for the user or after calling `/cra/check_report/create`. If the most recent consumer report for the user doesn’t have sufficient data to generate the insights, or the consumer report has expired, you will receive an error indicating that you should create a new consumer report by calling `/cra/check_report/create`.  If you did not initialize Link with the `cra_lend_score` product or call `/cra/check_report/create` with the `cra_lend_score` product, Plaid will generate the insights when you call this endpoint. In this case, you may optionally provide parameters under `options` to configure which insights you want to receive.
    async fn cra_check_report_lend_score_get<'cra_check_report_lend_score_get_request>(&self, cra_check_report_lend_score_get_request: models::CraCheckReportLendScoreGetRequest) -> Result<models::CraCheckReportLendScoreGetResponse, Error<CraCheckReportLendScoreGetError>>;

    /// POST /cra/check_report/network_insights/get
    ///
    /// This endpoint allows you to retrieve the Network Insights product for your user. You should call this endpoint after you've received a `CHECK_REPORT_READY` or a `USER_CHECK_REPORT_READY` webhook, either after the Link session for the user or after calling `/cra/check_report/create`. If the most recent consumer report for the user doesn’t have sufficient data to generate the report, or the consumer report has expired, you will receive an error indicating that you should create a new consumer report by calling `/cra/check_report/create`.  If you did not initialize Link with the `cra_network_attributes` product or have generated a report using `/cra/check_report/create`, Plaid will generate the attributes when you call this endpoint.
    async fn cra_check_report_network_insights_get<'cra_check_report_network_insights_get_request>(&self, cra_check_report_network_insights_get_request: models::CraCheckReportNetworkInsightsGetRequest) -> Result<models::CraCheckReportNetworkInsightsGetResponse, Error<CraCheckReportNetworkInsightsGetError>>;

    /// POST /cra/check_report/partner_insights/get
    ///
    /// This endpoint allows you to retrieve the Partner Insights report for your user. You should call this endpoint after you've received a `CHECK_REPORT_READY` or a `USER_CHECK_REPORT_READY` webhook, either after the Link session for the user or after calling `/cra/check_report/create`. If the most recent consumer report for the user doesn’t have sufficient data to generate the base report, or the consumer report has expired, you will receive an error indicating that you should create a new consumer report by calling `/cra/check_report/create`.  If you did not initialize Link with the `credit_partner_insights` product or have generated a report using `/cra/check_report/create`, we will call our partners to generate the insights when you call this endpoint. In this case, you may optionally provide parameters under `options` to configure which insights you want to receive.
    async fn cra_check_report_partner_insights_get<'cra_check_report_partner_insights_get_request>(&self, cra_check_report_partner_insights_get_request: models::CraCheckReportPartnerInsightsGetRequest) -> Result<models::CraCheckReportPartnerInsightsGetResponse, Error<CraCheckReportPartnerInsightsGetError>>;

    /// POST /cra/check_report/pdf/get
    ///
    /// `/cra/check_report/pdf/get` retrieves the most recent Consumer Report in PDF format. By default, the most recent Base Report (if it exists) for the user will be returned. To request that the most recent Partner Insights or Income Insights report be included in the PDF as well, use the `add-ons` field.
    async fn cra_check_report_pdf_get<'cra_check_report_pdf_get_request>(&self, cra_check_report_pdf_get_request: models::CraCheckReportPdfGetRequest) -> Result<std::path::PathBuf, Error<CraCheckReportPdfGetError>>;

    /// POST /cra/check_report/verification/get
    ///
    /// This endpoint allows you to retrieve home lending reports for a user. To obtain a VoA or Employment Refresh report, you need to make sure that `cra_base_report` is included in the `products` parameter when calling `/link/token/create` or `/cra/check_report/create`.  You should call this endpoint after you've received a `CHECK_REPORT_READY` or a `USER_CHECK_REPORT_READY` webhook, either after the Link session for the user or after calling `/cra/check_report/create`.  If the most recent consumer report for the user doesn’t have sufficient data to generate the report, or the consumer report has expired, you will receive an error indicating that you should create a new consumer report by calling `/cra/check_report/create`.\"
    async fn cra_check_report_verification_get<'cra_check_report_verification_get_request>(&self, cra_check_report_verification_get_request: models::CraCheckReportVerificationGetRequest) -> Result<models::CraCheckReportVerificationGetResponse, Error<CraCheckReportVerificationGetError>>;

    /// POST /cra/check_report/verification/pdf/get
    ///
    /// The `/cra/check_report/verification/pdf/get` endpoint retrieves the most recent Consumer Report in PDF format, specifically formatted for Home Lending verification use cases. Before calling this endpoint, ensure that you've created a VOA report through Link or the `/cra/check_report/create` endpoint, and have received a `CHECK_REPORT_READY` or a `USER_CHECK_REPORT_READY` webhook.  The response to `/cra/check_report/verification/pdf/get` is the PDF binary data. The `request_id`  is returned in the `Plaid-Request-ID` header.
    async fn cra_check_report_verification_pdf_get<'cra_check_report_verification_pdf_get_request>(&self, cra_check_report_verification_pdf_get_request: models::CraCheckReportVerificationPdfGetRequest) -> Result<std::path::PathBuf, Error<CraCheckReportVerificationPdfGetError>>;

    /// POST /cra/credit_profile/report/get
    ///
    /// `/cra/credit_profile/report/get` retrieves a credit profile report for a user.
    async fn cra_credit_profile_report_get<'cra_credit_profile_report_get_request>(&self, cra_credit_profile_report_get_request: models::CraCreditProfileReportGetRequest) -> Result<models::CraCreditProfileReportGetResponse, Error<CraCreditProfileReportGetError>>;

    /// POST /cra/loans/applications/register
    ///
    /// `/cra/loans/applications/register` registers loan applications and decisions.
    async fn cra_loans_applications_register<'cra_loans_applications_register_request>(&self, cra_loans_applications_register_request: models::CraLoansApplicationsRegisterRequest) -> Result<models::CraLoansApplicationsRegisterResponse, Error<CraLoansApplicationsRegisterError>>;

    /// POST /cra/loans/register
    ///
    /// `/cra/loans/register` registers a list of loans to their applicants.
    async fn cra_loans_register<'cra_loans_register_request>(&self, cra_loans_register_request: models::CraLoansRegisterRequest) -> Result<models::CraLoansRegisterResponse, Error<CraLoansRegisterError>>;

    /// POST /cra/loans/unregister
    ///
    /// `/cra/loans/unregister` indicates the loans have reached a final status and no further updates are expected.
    async fn cra_loans_unregister<'cra_loans_unregister_request>(&self, cra_loans_unregister_request: models::CraLoansUnregisterRequest) -> Result<models::CraLoanUnregisterResponse, Error<CraLoansUnregisterError>>;

    /// POST /cra/loans/update
    ///
    /// `/cra/loans/update` updates loan information such as the status and payment history.
    async fn cra_loans_update<'cra_loans_update_request>(&self, cra_loans_update_request: models::CraLoansUpdateRequest) -> Result<models::CraLoansUpdateResponse, Error<CraLoansUpdateError>>;

    /// POST /cra/monitoring_insights/get
    ///
    /// This endpoint allows you to retrieve a Cash Flow Updates report by passing in the `user_id` referred to in the webhook you received.
    async fn cra_monitoring_insights_get<'cra_monitoring_insights_get_request>(&self, cra_monitoring_insights_get_request: models::CraMonitoringInsightsGetRequest) -> Result<models::CraMonitoringInsightsGetResponse, Error<CraMonitoringInsightsGetError>>;

    /// POST /cra/monitoring_insights/subscribe
    ///
    /// This endpoint allows you to subscribe to insights for a user's linked CRA Item, which are updated between one and four times per day (best-effort). In the current Cash Flow Updates beta experience, only one Item per user may be subscribed for monitoring updates.
    async fn cra_monitoring_insights_subscribe<'cra_monitoring_insights_subscribe_request>(&self, cra_monitoring_insights_subscribe_request: models::CraMonitoringInsightsSubscribeRequest) -> Result<models::CraMonitoringInsightsSubscribeResponse, Error<CraMonitoringInsightsSubscribeError>>;

    /// POST /cra/monitoring_insights/unsubscribe
    ///
    /// This endpoint allows you to unsubscribe from previously subscribed Monitoring Insights.
    async fn cra_monitoring_insights_unsubscribe<'cra_monitoring_insights_unsubscribe_request>(&self, cra_monitoring_insights_unsubscribe_request: models::CraMonitoringInsightsUnsubscribeRequest) -> Result<models::CraMonitoringInsightsUnsubscribeResponse, Error<CraMonitoringInsightsUnsubscribeError>>;

    /// POST /cra/partner_insights/get
    ///
    /// `/cra/partner_insights/get` returns cash flow insights for a specified user.
    async fn cra_partner_insights_get<'cra_partner_insights_get_request>(&self, cra_partner_insights_get_request: models::CraPartnerInsightsGetRequest) -> Result<models::CraPartnerInsightsGetResponse, Error<CraPartnerInsightsGetError>>;

    /// POST /payment_initiation/payment/token/create
    ///
    /// The `/payment_initiation/payment/token/create` endpoint has been deprecated. New Plaid customers will be unable to use this endpoint, and existing customers are encouraged to migrate to the newer, `link_token`-based flow. The recommended flow is to provide the `payment_id` to `/link/token/create`, which returns a `link_token` used to initialize Link.  The `/payment_initiation/payment/token/create` is used to create a `payment_token`, which can then be used in Link initialization to enter a payment initiation flow. You can only use a `payment_token` once. If this attempt fails, the end user aborts the flow, or the token expires, you will need to create a new payment token. Creating a new payment token does not require end user input.
    async fn create_payment_token<'payment_initiation_payment_token_create_request>(&self, payment_initiation_payment_token_create_request: models::PaymentInitiationPaymentTokenCreateRequest) -> Result<models::PaymentInitiationPaymentTokenCreateResponse, Error<CreatePaymentTokenError>>;

    /// POST /credit/asset_report/freddie_mac/get
    ///
    /// The `credit/asset_report/freddie_mac/get` endpoint retrieves the Asset Report in Freddie Mac's JSON format.
    async fn credit_asset_report_freddie_mac_get<'asset_report_freddie_get_request>(&self, asset_report_freddie_get_request: models::AssetReportFreddieGetRequest) -> Result<models::AssetReportFreddieGetResponse, Error<CreditAssetReportFreddieMacGetError>>;

    /// POST /credit/audit_copy_token/create
    ///
    /// Plaid can create an Audit Copy token of an Asset Report and/or Income Report to share with a participating Government Sponsored Entity (GSE) if you participate in Fannie Mae's Day 1 Certainty™ program or utilize Freddie Mac's Loan Product Advisor® (LPA®) Asset and Income Modeler (AIM). An Audit Copy token contains the same underlying data as the Asset Report and/or Income Report (result of `/credit/payroll_income/get`).  Use the `/credit/audit_copy_token/create` endpoint to create an `audit_copy_token` and then pass that token to the GSE who needs access.
    async fn credit_audit_copy_token_create<'credit_audit_copy_token_create_request>(&self, credit_audit_copy_token_create_request: models::CreditAuditCopyTokenCreateRequest) -> Result<models::CreditAuditCopyTokenCreateResponse, Error<CreditAuditCopyTokenCreateError>>;

    /// POST /credit/audit_copy_token/update
    ///
    /// The `/credit/audit_copy_token/update` endpoint updates an existing  Audit Copy Token by adding the report tokens in the `report_tokens` field to the `audit_copy_token`. If the Audit Copy Token already contains a report of a certain type, it will be replaced with the token provided in the `report_tokens` field.
    async fn credit_audit_copy_token_update<'credit_audit_copy_token_update_request>(&self, credit_audit_copy_token_update_request: models::CreditAuditCopyTokenUpdateRequest) -> Result<models::CreditAuditCopyTokenUpdateResponse, Error<CreditAuditCopyTokenUpdateError>>;

    /// POST /beta/credit/v1/bank_employment/get
    ///
    /// `/credit/bank_employment/get` returns the employment report(s) derived from bank transaction data for a specified user.
    async fn credit_bank_employment_get<'credit_bank_employment_get_request>(&self, credit_bank_employment_get_request: models::CreditBankEmploymentGetRequest) -> Result<models::CreditBankEmploymentGetResponse, Error<CreditBankEmploymentGetError>>;

    /// POST /credit/bank_income/get
    ///
    /// `/credit/bank_income/get` returns the bank income report(s) for a specified user. A single report corresponds to all institutions linked in a single Link session. To include multiple institutions in a single report, use [Multi-Item Link](https://plaid.com/docs/link/multi-item-link). To return older reports, use the `options.count` field.
    async fn credit_bank_income_get<'credit_bank_income_get_request>(&self, credit_bank_income_get_request: models::CreditBankIncomeGetRequest) -> Result<models::CreditBankIncomeGetResponse, Error<CreditBankIncomeGetError>>;

    /// POST /credit/bank_income/pdf/get
    ///
    /// `/credit/bank_income/pdf/get` returns the most recent bank income report for a specified user in PDF format.  A single report corresponds to all institutions linked in a single Link session. To include multiple institutions in a single report, use [Multi-Item Link](https://plaid.com/docs/link/multi-item-link).
    async fn credit_bank_income_pdf_get<'credit_bank_income_pdf_get_request>(&self, credit_bank_income_pdf_get_request: models::CreditBankIncomePdfGetRequest) -> Result<std::path::PathBuf, Error<CreditBankIncomePdfGetError>>;

    /// POST /credit/bank_income/refresh
    ///
    /// `/credit/bank_income/refresh` is deprecated. The backend implementation was removed (returns an `Unimplemented` error at runtime), and the endpoint is no longer part of the documented API surface. To refresh Bank Income data for an existing user, send the user through Link Update Mode so they can confirm their income sources. For a fully backend refresh, migrate to CRA Income Insights and call `/cra/check_report/create`.
    async fn credit_bank_income_refresh<'credit_bank_income_refresh_request>(&self, credit_bank_income_refresh_request: models::CreditBankIncomeRefreshRequest) -> Result<models::CreditBankIncomeRefreshResponse, Error<CreditBankIncomeRefreshError>>;

    /// POST /credit/bank_income/webhook/update
    ///
    /// `/credit/bank_income/webhook/update` allows you to subscribe or unsubscribe a user for income webhook notifications. By default, all users start out unsubscribed.  If a user is subscribed, on significant changes to the user's income profile, you will receive a `BANK_INCOME_REFRESH_UPDATE` webhook, prompting you to refresh bank income data for the user.
    async fn credit_bank_income_webhook_update<'credit_bank_income_webhook_update_request>(&self, credit_bank_income_webhook_update_request: models::CreditBankIncomeWebhookUpdateRequest) -> Result<models::CreditBankIncomeWebhookUpdateResponse, Error<CreditBankIncomeWebhookUpdateError>>;

    /// POST /credit/bank_statements/uploads/get
    ///
    /// `/credit/bank_statements/uploads/get` returns parsed data from bank statements uploaded by users as part of the Document Income flow. If your account is not enabled for Document Parsing, contact your account manager to request access.
    async fn credit_bank_statements_uploads_get<'credit_bank_statements_uploads_get_request>(&self, credit_bank_statements_uploads_get_request: models::CreditBankStatementsUploadsGetRequest) -> Result<models::CreditBankStatementsUploadsGetResponse, Error<CreditBankStatementsUploadsGetError>>;

    /// POST /credit/employment/get
    ///
    /// `/credit/employment/get` returns a list of items with employment information from a user's payroll provider that was verified by an end user.
    async fn credit_employment_get<'credit_employment_get_request>(&self, credit_employment_get_request: models::CreditEmploymentGetRequest) -> Result<models::CreditEmploymentGetResponse, Error<CreditEmploymentGetError>>;

    /// POST /credit/freddie_mac/reports/get
    ///
    /// The `credit/asset_report/freddie_mac/get` endpoint retrieves the Verification of Assets and Verification of Employment reports.
    async fn credit_freddie_mac_reports_get<'credit_freddie_mac_reports_get_request>(&self, credit_freddie_mac_reports_get_request: models::CreditFreddieMacReportsGetRequest) -> Result<models::CreditFreddieMacReportsGetResponse, Error<CreditFreddieMacReportsGetError>>;

    /// POST /credit/payroll_income/get
    ///
    /// This endpoint gets payroll income information for a specific user, either as a result of the user connecting to their payroll provider or uploading a pay related document.
    async fn credit_payroll_income_get<'credit_payroll_income_get_request>(&self, credit_payroll_income_get_request: models::CreditPayrollIncomeGetRequest) -> Result<models::CreditPayrollIncomeGetResponse, Error<CreditPayrollIncomeGetError>>;

    /// POST /credit/payroll_income/parsing_config/update
    ///
    /// `/credit/payroll_income/parsing_config/update` updates the parsing configuration for a document income verification.
    async fn credit_payroll_income_parsing_config_update<'credit_payroll_income_parsing_config_update_request>(&self, credit_payroll_income_parsing_config_update_request: models::CreditPayrollIncomeParsingConfigUpdateRequest) -> Result<models::CreditPayrollIncomeParsingConfigUpdateResponse, Error<CreditPayrollIncomeParsingConfigUpdateError>>;

    /// POST /credit/payroll_income/precheck
    ///
    /// `/credit/payroll_income/precheck` is an optional endpoint that can be called before initializing a Link session for income verification. It evaluates whether a given user is supportable by digital income verification. If the user is eligible for digital verification, that information will be associated with the user token, and in this way will generate a Link UI optimized for the end user and their specific employer. If the user cannot be confirmed as eligible, the user can still use the income verification flow, but they may be required to manually upload a paystub to verify their income.  While all request fields are optional, providing `employer` data will increase the chance of receiving a useful result.  When testing in Sandbox, you can control the results by providing special test values in the `employer` and `access_tokens` fields. `employer_good` and `employer_bad` will result in `HIGH` and `LOW` confidence values, respectively. `employer_multi` will result in a `HIGH` confidence with multiple payroll options. Likewise, `access_good` and `access_bad` will result in `HIGH` and `LOW` confidence values, respectively. Any other value for `employer` and `access_tokens` in Sandbox will result in `UNKNOWN` confidence.
    async fn credit_payroll_income_precheck<'credit_payroll_income_precheck_request>(&self, credit_payroll_income_precheck_request: models::CreditPayrollIncomePrecheckRequest) -> Result<models::CreditPayrollIncomePrecheckResponse, Error<CreditPayrollIncomePrecheckError>>;

    /// POST /credit/payroll_income/refresh
    ///
    /// `/credit/payroll_income/refresh` refreshes a given digital payroll income verification.
    async fn credit_payroll_income_refresh<'credit_payroll_income_refresh_request>(&self, credit_payroll_income_refresh_request: models::CreditPayrollIncomeRefreshRequest) -> Result<models::CreditPayrollIncomeRefreshResponse, Error<CreditPayrollIncomeRefreshError>>;

    /// POST /credit/payroll_income/risk_signals/get
    ///
    /// `/credit/payroll_income/risk_signals/get` can be used as part of the Document Income flow to assess a user-uploaded document for signs of potential fraud or tampering. It returns a risk score for each uploaded document that indicates the likelihood of the document being fraudulent, in addition to details on the individual risk signals contributing to the score.  To trigger risk signal generation for an Item, call `/link/token/create` with `parsing_config` set to include `risk_signals`, or call `/credit/payroll_income/parsing_config/update`. Once risk signal generation has been triggered, `/credit/payroll_income/risk_signals/get` can be called at any time after the `INCOME_VERIFICATION_RISK_SIGNALS` webhook has been fired.  `/credit/payroll_income/risk_signals/get` is offered as an add-on to Document Income and is billed separately. To request access to this endpoint, submit a product access request or contact your Plaid account manager.
    async fn credit_payroll_income_risk_signals_get<'credit_payroll_income_risk_signals_get_request>(&self, credit_payroll_income_risk_signals_get_request: models::CreditPayrollIncomeRiskSignalsGetRequest) -> Result<models::CreditPayrollIncomeRiskSignalsGetResponse, Error<CreditPayrollIncomeRiskSignalsGetError>>;

    /// POST /credit/relay/create
    ///
    /// Plaid can share an Asset Report directly with a participating third party on your behalf. The shared Asset Report is the exact same Asset Report originally created in `/asset_report/create`.  To grant a third party access to an Asset Report, use the `/credit/relay/create` endpoint to create a `relay_token` and then pass that token to your third party. Each third party has its own `secondary_client_id`; for example, `ce5bd328dcd34123456`. You'll need to create a separate `relay_token` for each third party that needs access to the report on your behalf.
    async fn credit_relay_create<'credit_relay_create_request>(&self, credit_relay_create_request: models::CreditRelayCreateRequest) -> Result<models::CreditRelayCreateResponse, Error<CreditRelayCreateError>>;

    /// POST /credit/relay/get
    ///
    /// `/credit/relay/get` allows third parties to receive a report that was shared with them, using a `relay_token` that was created by the report owner.
    async fn credit_relay_get<'credit_relay_get_request>(&self, credit_relay_get_request: models::CreditRelayGetRequest) -> Result<models::AssetReportGetResponse, Error<CreditRelayGetError>>;

    /// POST /credit/relay/pdf/get
    ///
    /// `/credit/relay/pdf/get` allows third parties to receive a pdf report that was shared with them, using a `relay_token` that was created by the report owner.  The `/credit/relay/pdf/get` endpoint retrieves the Asset Report in PDF format. Before calling `/credit/relay/pdf/get`, you must first create the Asset Report using `/credit/relay/create` and then wait for the [`PRODUCT_READY`](https://plaid.com/docs/api/products/assets/#product_ready) webhook to fire, indicating that the Report is ready to be retrieved.  The response to `/credit/relay/pdf/get` is the PDF binary data. The `request_id` is returned in the `Plaid-Request-ID` header.  [View a sample PDF Asset Report](https://plaid.com/documents/sample-asset-report.pdf).
    async fn credit_relay_pdf_get<'credit_relay_pdf_get_request>(&self, credit_relay_pdf_get_request: models::CreditRelayPdfGetRequest) -> Result<std::path::PathBuf, Error<CreditRelayPdfGetError>>;

    /// POST /credit/relay/refresh
    ///
    /// The `/credit/relay/refresh` endpoint allows third parties to refresh a report that was relayed to them, using a `relay_token` that was created by the report owner. A new report will be created with the original report parameters, but with the most recent data available based on the `days_requested` value of the original report.
    async fn credit_relay_refresh<'credit_relay_refresh_request>(&self, credit_relay_refresh_request: models::CreditRelayRefreshRequest) -> Result<models::CreditRelayRefreshResponse, Error<CreditRelayRefreshError>>;

    /// POST /credit/relay/remove
    ///
    /// The `/credit/relay/remove` endpoint allows you to invalidate a `relay_token`. The third party holding the token will no longer be able to access or refresh the reports which the `relay_token` gives access to. The original report, associated Items, and other relay tokens that provide access to the same report are not affected and will remain accessible after removing the given `relay_token`.
    async fn credit_relay_remove<'credit_relay_remove_request>(&self, credit_relay_remove_request: models::CreditRelayRemoveRequest) -> Result<models::CreditRelayRemoveResponse, Error<CreditRelayRemoveError>>;

    /// POST /credit/audit_copy_token/remove
    ///
    /// The `/credit/audit_copy_token/remove` endpoint allows you to remove an Audit Copy. Removing an Audit Copy invalidates the `audit_copy_token` associated with it, meaning both you and any third parties holding the token will no longer be able to use it to access Report data. Items associated with the Report data and other Audit Copies of it are not affected and will remain accessible after removing the given Audit Copy.
    async fn credit_report_audit_copy_remove<'credit_audit_copy_token_remove_request>(&self, credit_audit_copy_token_remove_request: models::CreditAuditCopyTokenRemoveRequest) -> Result<models::CreditAuditCopyTokenRemoveResponse, Error<CreditReportAuditCopyRemoveError>>;

    /// POST /credit/sessions/get
    ///
    /// This endpoint can be used for your end users after they complete the Link flow. This endpoint returns a list of Link sessions that your user completed, where each session includes the results from the Link flow.  These results include details about the Item that was created and some product related metadata (showing, for example, whether the user finished the bank income verification step).
    async fn credit_sessions_get<'credit_sessions_get_request>(&self, credit_sessions_get_request: models::CreditSessionsGetRequest) -> Result<models::CreditSessionsGetResponse, Error<CreditSessionsGetError>>;

    /// POST /dashboard_user/get
    ///
    /// The `/dashboard_user/get` endpoint provides details (such as email address) about a specific Dashboard user based on the `dashboard_user_id` field, which is returned in the `audit_trail` object of certain Monitor and Beacon endpoints. This can be used to identify the specific reviewer who performed a Dashboard action.
    async fn dashboard_user_get<'dashboard_user_get_request>(&self, dashboard_user_get_request: models::DashboardUserGetRequest) -> Result<models::DashboardUserGetResponse, Error<DashboardUserGetError>>;

    /// POST /dashboard_user/list
    ///
    /// The `/dashboard_user/list` endpoint provides details (such as email address) all Dashboard users associated with your account. This can use used to audit or track the list of reviewers for Monitor, Beacon, and Identity Verification products.
    async fn dashboard_user_list<'dashboard_user_list_request>(&self, dashboard_user_list_request: models::DashboardUserListRequest) -> Result<models::DashboardUserListResponse, Error<DashboardUserListError>>;

    /// POST /employers/search
    ///
    /// `/employers/search` allows you the ability to search Plaid’s database of known employers, for use with Deposit Switch. You can use this endpoint to look up a user's employer in order to confirm that they are supported. Users with non-supported employers can then be routed out of the Deposit Switch flow.  The data in the employer database is currently limited. As the Deposit Switch and Income products progress through their respective beta periods, more employers are being regularly added. Because the employer database is frequently updated, we recommend that you do not cache or store data from this endpoint for more than a day.
    async fn employers_search<'employers_search_request>(&self, employers_search_request: models::EmployersSearchRequest) -> Result<models::EmployersSearchResponse, Error<EmployersSearchError>>;

    /// POST /employment/verification/get
    ///
    /// `/employment/verification/get` returns a list of employments through a user payroll that was verified by an end user.  This endpoint has been deprecated; new integrations should use `/credit/employment/get` instead.
    async fn employment_verification_get<'employment_verification_get_request>(&self, employment_verification_get_request: models::EmploymentVerificationGetRequest) -> Result<models::EmploymentVerificationGetResponse, Error<EmploymentVerificationGetError>>;

    /// POST /fdx/notifications
    ///
    /// A generic webhook receiver endpoint for FDX Event Notifications
    async fn fdx_notifications<'fdx_notification>(&self, fdx_notification: models::FdxNotification) -> Result<(), Error<FdxNotificationsError>>;

    /// GET /fdx/recipient/{recipientId}
    ///
    /// Get a specific recipient
    async fn get_recipient<'recipient_id, 'oauth_state_id>(&self, recipient_id: &'recipient_id str, oauth_state_id: Option<&'oauth_state_id str>) -> Result<models::GetRecipientResponse, Error<GetRecipientError>>;

    /// GET /fdx/recipients
    ///
    /// Returns a list of Recipients
    async fn get_recipients<>(&self, ) -> Result<models::GetRecipientsResponse, Error<GetRecipientsError>>;

    /// POST /identity/documents/uploads/get
    ///
    /// Use `/identity/documents/uploads/get` to retrieve identity details when using [Identity Document Upload](https://plaid.com/docs/identity/identity-document-upload/).
    async fn identity_documents_uploads_get<'identity_documents_uploads_get_request>(&self, identity_documents_uploads_get_request: models::IdentityDocumentsUploadsGetRequest) -> Result<models::IdentityDocumentsUploadsGetResponse, Error<IdentityDocumentsUploadsGetError>>;

    /// POST /identity/get
    ///
    /// The `/identity/get` endpoint allows you to retrieve various account holder information on file with the financial institution, including names, emails, phone numbers, and addresses. Only name data is guaranteed to be returned; other fields will be empty arrays if not provided by the institution.  Note: In API versions 2018-05-22 and earlier, the `owners` object is not returned, and instead identity information is returned in the top level `identity` object. For more details, see [Plaid API versioning](https://plaid.com/docs/api/versioning/#version-2019-05-29).
    async fn identity_get<'identity_get_request>(&self, identity_get_request: models::IdentityGetRequest) -> Result<models::IdentityGetResponse, Error<IdentityGetError>>;

    /// POST /identity/match
    ///
    /// The `/identity/match` endpoint generates a match score, which indicates how well the provided identity data matches the identity information on file with the account holder's financial institution.  Fields within the `balances` object will always be null when retrieved by `/identity/match`. Instead, use the free `/accounts/get` endpoint to request balance cached data, or `/accounts/balance/get` or `/signal/evaluate` for real-time data.
    async fn identity_match<'identity_match_request>(&self, identity_match_request: models::IdentityMatchRequest) -> Result<models::IdentityMatchResponse, Error<IdentityMatchError>>;

    /// POST /identity/refresh
    ///
    /// `/identity/refresh` is an optional endpoint for users of the Identity product. It initiates an on-demand extraction to fetch the most up to date Identity information from the Financial Institution. This on-demand extraction takes place in addition to the periodic extractions that automatically occur for any Identity-enabled Item. If changes to Identity are discovered after calling `/identity/refresh`, Plaid will fire a webhook [`DEFAULT_UPDATE`](https://plaid.com/docs/api/products/identity/#default_update).  As this endpoint triggers a synchronous request for fresh data, latency may be higher than for other Plaid endpoints (typically less than 10 seconds, but occasionally up to 30 seconds or more); if you encounter errors, you may find it necessary to adjust your timeout period when making requests.  `/identity/refresh` is offered as an add-on to Identity and has a separate [fee model](https://plaid.com/docs/account/billing/#per-request-flat-fee). To request access to this endpoint, submit a [product access request](https://dashboard.plaid.com/team/products) or contact your Plaid account manager.
    async fn identity_refresh<'identity_refresh_request>(&self, identity_refresh_request: models::IdentityRefreshRequest) -> Result<models::IdentityRefreshResponse, Error<IdentityRefreshError>>;

    /// POST /identity_verification/autofill/create
    ///
    /// Try to autofill an Identity Verification based of the provided phone number, date of birth and country of residence.
    async fn identity_verification_autofill_create<'identity_verification_autofill_create_request>(&self, identity_verification_autofill_create_request: models::IdentityVerificationAutofillCreateRequest) -> Result<models::IdentityVerificationAutofillCreateResponse, Error<IdentityVerificationAutofillCreateError>>;

    /// POST /identity_verification/create
    ///
    /// Create a new Identity Verification for the user specified by the `client_user_id` and/or `user_id` field. At least one of these two fields must be provided. The requirements and behavior of the verification are determined by the `template_id` provided. If `user_id` is provided, there must be an associated user otherwise an error will be returned.   If you don't know whether an active Identity Verification exists for a given `client_user_id` and/or `user_id`, you can specify `\"is_idempotent\": true` in the request body. With idempotency enabled, a new Identity Verification will only be created if one does not already exist for the associated `client_user_id` and/or `user_id`, and `template_id`. If an Identity Verification is found, it will be returned unmodified with a `200 OK` HTTP status code.   If `user_id` is not provided, you can also use this endpoint to supply information you already have collected about the user; if any of these fields are specified, the screens prompting the user to enter them will be skipped during the Link flow. If `user_id` is provided, user information can not be included in the request body. Please use the `/user/update` endpoint to update user data instead. 
    async fn identity_verification_create<'identity_verification_create_request>(&self, identity_verification_create_request: models::IdentityVerificationCreateRequest) -> Result<models::IdentityVerificationCreateResponse, Error<IdentityVerificationCreateError>>;

    /// POST /identity_verification/get
    ///
    /// Retrieve a previously created Identity Verification.
    async fn identity_verification_get<'identity_verification_get_request>(&self, identity_verification_get_request: models::IdentityVerificationGetRequest) -> Result<models::IdentityVerificationGetResponse, Error<IdentityVerificationGetError>>;

    /// POST /identity_verification/list
    ///
    /// Filter and list Identity Verifications created by your account
    async fn identity_verification_list<'identity_verification_list_request>(&self, identity_verification_list_request: models::IdentityVerificationListRequest) -> Result<models::IdentityVerificationListResponse, Error<IdentityVerificationListError>>;

    /// POST /identity_verification/retry
    ///
    /// Allow a customer to retry their Identity Verification
    async fn identity_verification_retry<'identity_verification_retry_request>(&self, identity_verification_retry_request: models::IdentityVerificationRetryRequest) -> Result<models::IdentityVerificationRetryResponse, Error<IdentityVerificationRetryError>>;

    /// POST /income/verification/create
    ///
    /// `/income/verification/create` begins the income verification process by returning an `income_verification_id`. You can then provide the `income_verification_id` to `/link/token/create` under the `income_verification` parameter in order to create a Link instance that will prompt the user to go through the income verification flow. Plaid will fire an `INCOME` webhook once the user completes the Payroll Income flow, or when the uploaded documents in the Document Income flow have finished processing. 
    async fn income_verification_create<'income_verification_create_request>(&self, income_verification_create_request: models::IncomeVerificationCreateRequest) -> Result<models::IncomeVerificationCreateResponse, Error<IncomeVerificationCreateError>>;

    /// POST /income/verification/documents/download
    ///
    /// `/income/verification/documents/download` provides the ability to download the source documents associated with the verification.  If Document Income was used, the documents will be those the user provided in Link. For Payroll Income, the most recent files available for download from the payroll provider will be available from this endpoint.  The response to `/income/verification/documents/download` is a ZIP file in binary data. If a `document_id` is passed, a single document will be contained in this file. If not, the response will contain all documents associated with the verification.  The `request_id` is returned in the `Plaid-Request-ID` header.
    async fn income_verification_documents_download<'income_verification_documents_download_request>(&self, income_verification_documents_download_request: models::IncomeVerificationDocumentsDownloadRequest) -> Result<std::path::PathBuf, Error<IncomeVerificationDocumentsDownloadError>>;

    /// POST /income/verification/paystubs/get
    ///
    /// `/income/verification/paystubs/get` returns the information collected from the paystubs that were used to verify an end user's income. It can be called once the status of the verification has been set to `VERIFICATION_STATUS_PROCESSING_COMPLETE`, as reported by the `INCOME: verification_status` webhook. Attempting to call the endpoint before verification has been completed will result in an error.  This endpoint has been deprecated; new integrations should use `/credit/payroll_income/get` instead.
    async fn income_verification_paystubs_get<'income_verification_paystubs_get_request>(&self, income_verification_paystubs_get_request: models::IncomeVerificationPaystubsGetRequest) -> Result<models::IncomeVerificationPaystubsGetResponse, Error<IncomeVerificationPaystubsGetError>>;

    /// POST /income/verification/precheck
    ///
    /// `/income/verification/precheck` is an optional endpoint that can be called before initializing a Link session for income verification. It evaluates whether a given user is supportable by digital income verification and returns a `precheck_id` that can be provided to `/link/token/create`. If the user is eligible for digital verification, providing the `precheck_id` in this way will generate a Link UI optimized for the end user and their specific employer. If the user cannot be confirmed as eligible, the `precheck_id` can still be provided to `/link/token/create` and the user can still use the income verification flow, but they may be required to manually upload a paystub to verify their income.  While all request fields are optional, providing either `employer` or `transactions_access_tokens` data will increase the chance of receiving a useful result.  This endpoint has been deprecated; new integrations should use `/credit/payroll_income/precheck` instead.
    async fn income_verification_precheck<'income_verification_precheck_request>(&self, income_verification_precheck_request: models::IncomeVerificationPrecheckRequest) -> Result<models::IncomeVerificationPrecheckResponse, Error<IncomeVerificationPrecheckError>>;

    /// POST /income/verification/taxforms/get
    ///
    /// `/income/verification/taxforms/get` returns the information collected from forms that were used to verify an end user''s income. It can be called once the status of the verification has been set to `VERIFICATION_STATUS_PROCESSING_COMPLETE`, as reported by the `INCOME: verification_status` webhook. Attempting to call the endpoint before verification has been completed will result in an error.  This endpoint has been deprecated; new integrations should use `/credit/payroll_income/get` instead.
    async fn income_verification_taxforms_get<'income_verification_taxforms_get_request>(&self, income_verification_taxforms_get_request: models::IncomeVerificationTaxformsGetRequest) -> Result<models::IncomeVerificationTaxformsGetResponse, Error<IncomeVerificationTaxformsGetError>>;

    /// POST /institutions/get
    ///
    /// Returns a JSON response containing details on all financial institutions currently supported by Plaid. Because Plaid supports thousands of institutions, results are paginated.  If there is no overlap between an institution’s enabled products and a client’s enabled products, then the institution will be filtered out from the response. As a result, the number of institutions returned may not match the count specified in the call.
    async fn institutions_get<'institutions_get_request>(&self, institutions_get_request: models::InstitutionsGetRequest) -> Result<models::InstitutionsGetResponse, Error<InstitutionsGetError>>;

    /// POST /institutions/get_by_id
    ///
    /// Returns a JSON response containing details on a specified financial institution currently supported by Plaid.  Versioning note: API versions 2019-05-29 and earlier allow use of the `public_key` parameter instead of the `client_id` and `secret` to authenticate to this endpoint. The `public_key` has been deprecated; all customers are encouraged to use `client_id` and `secret` instead. 
    async fn institutions_get_by_id<'institutions_get_by_id_request>(&self, institutions_get_by_id_request: models::InstitutionsGetByIdRequest) -> Result<models::InstitutionsGetByIdResponse, Error<InstitutionsGetByIdError>>;

    /// POST /institutions/search
    ///
    /// Returns a JSON response containing details for institutions that match the query parameters, up to a maximum of ten institutions per query.  Versioning note: API versions 2019-05-29 and earlier allow use of the `public_key` parameter instead of the `client_id` and `secret` parameters to authenticate to this endpoint. The `public_key` parameter has since been deprecated; all customers are encouraged to use `client_id` and `secret` instead. 
    async fn institutions_search<'institutions_search_request>(&self, institutions_search_request: models::InstitutionsSearchRequest) -> Result<models::InstitutionsSearchResponse, Error<InstitutionsSearchError>>;

    /// POST /investments/auth/get
    ///
    /// The `/investments/auth/get` endpoint allows developers to receive user-authorized data to facilitate the transfer of holdings
    async fn investments_auth_get<'investments_auth_get_request>(&self, investments_auth_get_request: models::InvestmentsAuthGetRequest) -> Result<models::InvestmentsAuthGetResponse, Error<InvestmentsAuthGetError>>;

    /// POST /investments/holdings/get
    ///
    /// The `/investments/holdings/get` endpoint allows developers to receive user-authorized stock position data for `investment`-type accounts.
    async fn investments_holdings_get<'investments_holdings_get_request>(&self, investments_holdings_get_request: models::InvestmentsHoldingsGetRequest) -> Result<models::InvestmentsHoldingsGetResponse, Error<InvestmentsHoldingsGetError>>;

    /// POST /investments/refresh
    ///
    /// `/investments/refresh` is an optional endpoint for users of the Investments product. It initiates an on-demand extraction to fetch the newest investment holdings and transactions for an Item. This on-demand extraction takes place in addition to the periodic extractions that automatically occur one or more times per day for any Investments-enabled Item. If changes to investments are discovered after calling `/investments/refresh`, Plaid will fire webhooks: [`HOLDINGS: DEFAULT_UPDATE`](https://plaid.com/docs/api/products/investments/#holdings-default_update) if any new holdings are detected, and [`INVESTMENTS_TRANSACTIONS: DEFAULT_UPDATE`](https://plaid.com/docs/api/products/investments/#investments_transactions-default_update) if any new investment transactions are detected. This webhook will typically not fire in the Sandbox environment, due to the lack of dynamic investment transactions and holdings data. To test this webhook in Sandbox, call `/sandbox/item/fire_webhook`. Updated holdings and investment transactions can be fetched by calling `/investments/holdings/get` and `/investments/transactions/get`. Note that the `/investments/refresh` endpoint is not supported by all institutions. If called on an Item from an institution that does not support this functionality, it will return a `PRODUCT_NOT_SUPPORTED` error.  As this endpoint triggers a synchronous request for fresh data, latency may be higher than for other Plaid endpoints (typically less than 10 seconds, but occasionally up to 30 seconds or more); if you encounter errors, you may find it necessary to adjust your timeout period when making requests.  `/investments/refresh` is offered as an add-on to Investments and has a separate [fee model](https://plaid.com/docs/account/billing/#per-request-flat-fee). To request access to this endpoint, submit a [product access request](https://dashboard.plaid.com/team/products) or contact your Plaid account manager.
    async fn investments_refresh<'investments_refresh_request>(&self, investments_refresh_request: models::InvestmentsRefreshRequest) -> Result<models::InvestmentsRefreshResponse, Error<InvestmentsRefreshError>>;

    /// POST /investments/transactions/get
    ///
    /// The `/investments/transactions/get` endpoint allows developers to retrieve up to 24 months of user-authorized transaction data for investment accounts.  Transactions are returned in reverse-chronological order, and the sequence of transaction ordering is stable and will not shift.  Due to the potentially large number of investment transactions associated with an Item, results are paginated. Manipulate the count and offset parameters in conjunction with the `total_investment_transactions` response body field to fetch all available investment transactions.  Note that Investments does not have a webhook to indicate when initial transaction data has loaded (unless you use the `async_update` option). Instead, if transactions data is not ready when `/investments/transactions/get` is first called, Plaid will wait for the data. For this reason, calling `/investments/transactions/get` immediately after Link may take up to one to two minutes to return.  Data returned by the asynchronous investments extraction flow (when `async_update` is set to true) may not be immediately available to `/investments/transactions/get`. To be alerted when the data is ready to be fetched, listen for the `HISTORICAL_UPDATE` webhook. If no investments history is ready when `/investments/transactions/get` is called, it will return a `PRODUCT_NOT_READY` error.
    async fn investments_transactions_get<'investments_transactions_get_request>(&self, investments_transactions_get_request: models::InvestmentsTransactionsGetRequest) -> Result<models::InvestmentsTransactionsGetResponse, Error<InvestmentsTransactionsGetError>>;

    /// POST /issues/get
    ///
    /// Retrieve detailed information about a specific `Issue`. This endpoint returns a single `Issue` object.
    async fn issues_get<'issues_get_request>(&self, issues_get_request: models::IssuesGetRequest) -> Result<models::IssuesGetResponse, Error<IssuesGetError>>;

    /// POST /issues/search
    ///
    /// Search for an issue associated with one of the following identifiers:  `item_id`, `link_session_id` or Link session `request_id`. This endpoint returns a list of `Issue` objects, with an empty list indicating that no issues are associated with the provided identifier. At least one of the identifiers must be provided to perform the search.
    async fn issues_search<'issues_search_request>(&self, issues_search_request: models::IssuesSearchRequest) -> Result<models::IssuesSearchResponse, Error<IssuesSearchError>>;

    /// POST /issues/subscribe
    ///
    /// Allows a user to subscribe to updates on a specific `Issue` using a POST method. Subscribers will receive webhook notifications when the issue status changes, particularly when resolved.
    async fn issues_subscribe<'issues_subscribe_request>(&self, issues_subscribe_request: models::IssuesSubscribeRequest) -> Result<models::IssuesSubscribeResponse, Error<IssuesSubscribeError>>;

    /// POST /item/access_token/invalidate
    ///
    /// By default, the `access_token` associated with an Item does not expire and should be stored in a persistent, secure manner.  You can use the `/item/access_token/invalidate` endpoint to rotate the `access_token` associated with an Item. The endpoint returns a new `access_token` and immediately invalidates the previous `access_token`. 
    async fn item_access_token_invalidate<'item_access_token_invalidate_request>(&self, item_access_token_invalidate_request: models::ItemAccessTokenInvalidateRequest) -> Result<models::ItemAccessTokenInvalidateResponse, Error<ItemAccessTokenInvalidateError>>;

    /// POST /item/activity/list
    ///
    /// List a historical log of user consent events
    async fn item_activity_list<'item_activity_list_request>(&self, item_activity_list_request: models::ItemActivityListRequest) -> Result<models::ItemActivityListResponse, Error<ItemActivityListError>>;

    /// POST /item/application/list
    ///
    /// List a user’s connected applications
    async fn item_application_list<'item_application_list_request>(&self, item_application_list_request: models::ItemApplicationListRequest) -> Result<models::ItemApplicationListResponse, Error<ItemApplicationListError>>;

    /// POST /item/application/scopes/update
    ///
    /// Enable consumers to update product access on selected accounts for an application.
    async fn item_application_scopes_update<'item_application_scopes_update_request>(&self, item_application_scopes_update_request: models::ItemApplicationScopesUpdateRequest) -> Result<models::ItemApplicationScopesUpdateResponse, Error<ItemApplicationScopesUpdateError>>;

    /// POST /item/application/unlink
    ///
    /// Unlink a user’s connected application. On an unlink request, Plaid will immediately revoke the Application’s access to the User’s data.  The User will have to redo the OAuth authentication process in order to restore functionality.  This endpoint only removes ongoing data access permissions, therefore the User will need to reach out to the Application itself in order to disable and delete their account and delete any data that the Application already received (if the Application does not do so by default).  This endpoint should be called in real time as the User is unlinking an Application, and should not be batched in order to ensure that the change is reflected as soon as possible.
    async fn item_application_unlink<'item_application_unlink_request>(&self, item_application_unlink_request: models::ItemApplicationUnlinkRequest) -> Result<models::ItemApplicationUnlinkResponse, Error<ItemApplicationUnlinkError>>;

    /// POST /item/public_token/create
    ///
    /// Note: As of July 2020, the `/item/public_token/create` endpoint is deprecated. Instead, use `/link/token/create` with an `access_token` to create a Link token for use with [update mode](https://plaid.com/docs/link/update-mode).  If you need your user to take action to restore or resolve an error associated with an Item, generate a public token with the `/item/public_token/create` endpoint and then initialize Link with that `public_token`.  A `public_token` is one-time use and expires after 30 minutes. You use a `public_token` to initialize Link in [update mode](https://plaid.com/docs/link/update-mode) for a particular Item. You can generate a `public_token` for an Item even if you did not use Link to create the Item originally.  The `/item/public_token/create` endpoint is **not** used to create your initial `public_token`. If you have not already received an `access_token` for a specific Item, use Link to obtain your `public_token` instead. See the [Quickstart](https://plaid.com/docs/quickstart) for more information.
    async fn item_create_public_token<'item_public_token_create_request>(&self, item_public_token_create_request: models::ItemPublicTokenCreateRequest) -> Result<models::ItemPublicTokenCreateResponse, Error<ItemCreatePublicTokenError>>;

    /// POST /item/get
    ///
    /// Returns information about the status of an Item.
    async fn item_get<'item_get_request>(&self, item_get_request: models::ItemGetRequest) -> Result<models::ItemGetResponse, Error<ItemGetError>>;

    /// POST /item/handle_fraud_report
    ///
    /// Use this endpoint to create a fraud report and terminate the associated Item. The `access_token` associated with the Item will be deactivated and billing for the Item's products will be ended.  This endpoint allows you to report various types of fraud incidents including account takeovers, identity fraud, unauthorized transactions, and other security events. The reported data helps improve fraud detection models and provides valuable feedback to enhance the overall security of the Plaid network. Reports can be created for confirmed incidents that have been fully investigated, or for suspected incidents that require further review. You can associate reports with specific users, sessions, or transactions to provide comprehensive context about the incident.
    async fn item_handle_fraud_report<'item_handle_fraud_report_request>(&self, item_handle_fraud_report_request: models::ItemHandleFraudReportRequest) -> Result<models::ItemHandleFraudReportResponse, Error<ItemHandleFraudReportError>>;

    /// POST /item/import
    ///
[...]
