# VerificationStatus

## Enum Variants

| Name | Value |
|---- | -----|
| Verified | VERIFIED |
| Unverified | UNVERIFIED |
| NeedsInfo | NEEDS_INFO |
| UnableToVerify | UNABLE_TO_VERIFY |
| Unknown | UNKNOWN |


[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


